{% extends "base.html" %}
{% block title %} Radstag - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_hoofed_mammals') }}" class="sel"> > Back to Hoofed Mammals</a>

<h1> Radstag </h1>
<div class="container">
    <div class="text-block">
        <p> Radstags (although "stag" was once only used to refer to a male deer) are a species of mutated deer. These creatures live in Appalachia, the Commonwealth and the Island of Far Harbor. </p>
        <hr>
        <h2> Background </h2>
        <p> The radstag is a mutation of the stag species that once inhabited the forests of the Eastern Seaboard of the United States. The mutation twisted them into mockeries of their former selves, with a secondary head forming like with brahmin, along with a pair of vestigial hoofed limbs protruding from its chest. Radstags typically avoid confrontation while grazing on the Commonwealth's grasses and shrubberies, preferring to flee any predators threatening them. However, when backed into a corner or otherwise forced to fight, it will stand its ground and use its horns to defend itself. </p>
        <p> Many populations of radstags are fundamentally flawed and permanently damaged by the mutations they suffered. The Island and Appalachia, for example, are home to erratic and devolved radstag herds, which have lost all of their fur, with skin hardened by radiation and exposure to the fog into leather. The degenerative mutations actually increase their resilience and ferocity, despite gaping holes in their bodies and malformed horns. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Characteristics </h2>
        <hr class="short">
        <h3> Biology </h3>
        <p> Descended from deer, the radstag is primarily a prey creature. It's quite fast and resilient, requiring a bit of precision when hunting. This creature drops radstag meat and a radstag hide on death. They are dicephalic, or two-headed; each head is able to swivel and turn on its own. A closer inspection of the heads shows that each head's inner eye is blind. Radstags also have two underdeveloped legs hanging limply from their chest, qualifying them as hexapedal. Aside from the ability to bend when a radstag lays down, these legs are nonfunctional. </p>
        <p> Radstag are usually brown-furred and patchy in places, with small pus-filled cysts from radiation, which most often cover the flanks, feet, heads and snouts. The cysts more frequently appear on the rabid and glowing varieties and can cover most of the body. Radstag yearling coats are more colorful than those of adult radstags and feature white spotting, similar to the fawns of their deer ancestors. </p>
        <hr class="short">
        <h3> Attributes </h3>
        <p> Radstag usually travel in herds of up to four, typically consisting of one radstag and a combination of doe and yearlings. Although radstag are considerably non-hostile and will ignore or flee from most humans, ghouls, and mutants. </p>
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h2> Variants </h2>
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Radstag yearling </h3>
        <p> This is the youngest and smallest of the radstags. They do very little damage and are unable to withstand much damage in turn. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_yearling.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Radstag doe </h3>
        <p> Older and slightly more resilient than yearlings, they are a little more mature and do slightly more damage. However, they can be killed almost as easy as yearlings due to their low health pool. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_doe.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Radstag </h3>
        <p> This is the standard type of radstag one will encounter when traversing the Commonwealth. Generally shy creatures who will run if approached and won't attack unless provoked. They are easy to put down if need be. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Albino radstag </h3>
        <p> Due to a genetic mutation these radstags are distinguishable by their white coloring and are often found as part of a herd. They are stronger than their standard counterparts and will occasionally inflict a poison effect on those they attack. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_albino.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Rabid radstag </h3>
        <p> This type of radstag has been infected with rabies or some sort of illness impairing its natural reactions. As such they are more aggressive than their healthier counterparts and are more likely to attack as one encroaches on its personal space or without provocation. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_rabid.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Glowing radstag </h3>
        <p> This is the strongest type of radstag encountered in the Commonwealth. They have a higher health pool and have been exposed to so much radiation that their body literally glows with its excesses. When they engage in combat they inflict radiation damage on top of their standard attacks. They are normally seen in groups of three or four. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_glowing.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Erratic radstag doe </h3>
        <p> A variant of the radstag only found on the Island of Far Harbor, devoid of any fur. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_erratic_doe.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Erratic radstag </h3>
        <p> A variant of the radstag only found on the Island of Far Harbor. They look more like water deer found mostly in pre-War Asia due to the presence of fangs. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_erratic.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Devolved radstag doe </h3>
        <p> A variant of the radstag also only found on the Island of Far Harbor. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_devolved_doe.png') }}" alt="Radstag" class="hoof">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Devolved radstag </h3>
        <p> A variant of the radstag only found on the Island of Far Harbor. Unlike most of the other variants, devolved radstags are immediately hostile to anything but their own kind. Their visual appearance is similar to that of glowing radstags, but they are even stronger and more dangerous. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radstag_devolved.png') }}" alt="Radstag" class="hoof">
    </div>
</div>

{% endblock %}