{% extends "base.html" %}
{% block title %} Gulper - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_aquatic') }}" class="sel"> > Back to Aquatic Creatures</a>

<h1> Gulper </h1>
<div class="container">
    <div class="text-block" tabindex="0">
        <p> * These buggers are slippery and quick, annoyingly resistant, and can take some shots. I would prefer not to encounter them again. * </p>
        <hr>
        <p> Gulpers are mutated creatures resembling giant salamanders. </p>
        <hr>
        <h2> Background </h2>
        <p> The "gulpers" found on the East Coast were originally amphibious salamanders that were altered by both the nuclear fallout of the Great War as well as the persistent radioactive phenomenon known as the Fog covering Far Harbour. These creatures grow exponentially over their lifespans, with the oldest ones towering over most humans.</p>
        <hr>
        <h2> Biology </h2>
        <hr>
        <h3> East Coast </h3>
        <p> The East Coast gulpers are mutated hellbender salamanders. One of the rare creatures found on the islands of Maine, they are ferocious and territorial, similar to deathclaws. Gulpers roam both the shores and the inland areas of the Island, at times hanging on trees in order to take their victims by surprise. They can also slide through swamps and hide underwater, where they are commonly found. </p>
    </div>
    <div class="img-block" tabindex="0">
        <img src="{{ url_for('static', filename='images/gulper.png') }}" alt="Gulper" class="aqua4">
    </div>
</div>
<div class="container">
    <div class="text-block" tabindex="0">
        <p> In Appalachia, gulpers can be found throughout the Mire and the Cranberry Bog. They stand with a hunched back, upright on their hind legs when moving slowly or standing still. They run using all four legs and are able to outrun a non-mutated human. If someone gets too close, they can pounce and swing their claws, dealing damage. When engaged in combat, they will rush towards the enemy, trying to dodge bullets if shot at, and will strike with various melee attacks. </p>
        <p> Gulpers have the passive ability of slowly regenerating health and they will not enter buildings or climb stairs. If one does so, the gulper will retreat but stay in the general area. </p>
        <hr class="short">
        <h3> West Coast </h3>
        <p> Sometime after the Great War, experiments were conducted in Vault 4 by Lloyd and Cassandra Hawthorne attempting to hybridize humans and rad-resistant species. A group were successfully bred by impregnating women with genetically engineered embryos. During an uprising of the test subjects in Vault 4, most of the staff were slaughtered (including the Hawthornes), and several of the gulper specimens escaped and began nesting in the flooded area around the pre-War Hollywood Boulevard. Though sharing the name of its East Coast counterpart, this "gulper" more closely resembles an axolotl (which is also a species of salamander) rather than a hellbender salamander, with pale-pink skin and a mouth full of human-like fingers, as well as distinct human-like hands and eyes. </p>
    </div>
</div>

{% endblock %}