body {
  background: repeating-linear-gradient(
    180deg,
    #021a00 -1px,
    #004e14 6px
  );
}

@font-face {
  font-family: 'fixedsys';
  src: url(/static/font/fixedsys/FSEX300.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


nav {
    overflow: auto;
    text-align: left;
    line-height: 100px;
}

.sel {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    /*background-color: #000000;*/
    font-size: xx-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    top: 0;
    width: 96.5%;
}
.sel_reg {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    /*background-color: #000000;*/
    font-size: xx-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    top: 0;
    width: 96.5%;
}
.sel_sub {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    /*background-color: #000000;*/
    font-size: xx-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    top: 0;
    width: 96.5%;
}
.sel:hover {
    background-color: #5ff900;
    color: #000000;
}
.sel_reg:hover {
    background-color: #5ff900;
    color: #000000;
}
.sel:focus {
    background-color: #5ff900;
    color: #000000;
    
}
/* used AI*/
.sel:hover a {
    color: #000000;
}

.sel:hover div {
    color: #000000;
}
.sel_reg:hover div {
    color: #000000;
}
.sel_reg:hover label {
    color: #000000;
}

.sel_reg:hover input {
    background: repeating-linear-gradient(
      180deg,
      #021a00 -1px,
      #004e14 6px
    );
}
.sel_reg:hover label {
    color: #000000;
    
}
.sel_sub:hover div {
    background-color: #5ff900;
    color: #000000;
    
}
.sel_sub:hover input{
    background-color: #5ff900;
    color: #000000;
    
}
.sel_sub:hover {
    background-color: #5ff900;
    color: #000000;
}
.sel_sub:focus  {
    background-color: #5ff900;
    color: #000000;
    
}
.sel_sub:focus div {
    background-color: #5ff900;
    color: #000000;
}
.sel_sub:focus  input{
    background-color: #5ff900;
    color: #000000;
}

/* .text-block {
  border: 2px solid rgb(95, 249, 0); 
  padding: 1em;           
  border-radius: 8px;      
  background: repeating-linear-gradient(
    180deg,
    #021a00 -1px,
    #004e14 6px
  );
  position: fixed;
  top: 0;
  width: 96.5%;
} */

h1 { font-family:  'fixedsys', 'Courier New', Courier, monospace; color: rgb(95, 249, 0);}

h2 { font-family:  'fixedsys', 'Courier New', Courier, monospace; color: rgb(95, 249, 0);}

h3 { font-family:  'fixedsys', 'Courier New', Courier, monospace; color: rgb(95, 249, 0);}
.ro {
    font-size: x-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    text-align: center;
}
.rr {
    font-size: 50px;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    text-align: center;
}
form {
    font-size: large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    text-align: left;
}
input {
    font-size: large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    background: inherit;
    width: 100%;
    box-sizing: border-box;
    border: 0px;
}
.a1 {
    font-size: xx-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.h {
    font-size: xx-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    text-align: center;
}
.lo {
    font-size: large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    text-align: center;
}
label {
    font-size: large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
}
p {
    font-size: 17px;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
}
a {
    font-size: xx-large;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
}

li {color: rgb(95, 249, 0);
font-family: 'fixedsys', 'Courier New', Courier, monospace;
font-size: large;}

div {color: rgb(95, 249, 0);
  font-family: 'fixedsys', 'Courier New', Courier, monospace;}
.dagi {
  font-size: xx-large;
}

ol {color: rgb(95, 249, 0);
  font-family: 'fixedsys', 'Courier New', Courier, monospace;
  font-size: large;}

.container {
    display: flex;   /* Aktiverer flexbox */
    flex-direction: row; /* Standard - side ved side */
    flex-wrap: nowrap;
    justify-content: left; /* Sentrerer innholdet horisontalt */
}
.fac_img {
    max-width: 300px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


hr {
    border: 1px solid rgb(95, 249, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}

.mutie {
    max-width: 400px; /* Maks bredde på bildet */
}
.img-block {
    display: block;
    justify-content: left;
    align-content: right;
}   

.text-block {
    display: block;
    justify-content: left;
    align-content: left;
  
}

.container2 {
    display: flex;   /* Aktiverer flexbox */
    flex-direction: row; /* Standard - side ved side */
    flex-wrap: wrap;
    justify-content: left; /* Sentrerer innholdet horisontalt */
}

.mutie2 {
    max-width: 700px; /* Maks bredde på bildet */
}
.break {
  flex-basis: 100%;
  height: 0; /* Ensures it takes no vertical space */
}

.aqua {
    max-width: 400px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aqua2 {
    max-width: 250px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aqua3 {
    max-width: 500px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aqua4 {
    max-width: 550px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.art {
    max-width: 550px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.art2 {
    max-width: 400px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.art3 {
    max-width: 330px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container3 {
    display: flex;   /* Aktiverer flexbox */
    flex-direction: row; /* Standard - side ved side */
    flex-wrap: wrap;
    justify-content: center; /* Sentrerer innholdet horisontalt */
    align-content: center;
}
.audio-block {
    display: block;
    justify-content: left;
    align-content: left;
    padding: 1px;
    margin: 150px;
}
.audio-block2 {
    display: block;
    justify-content: right;
    align-content: right;
    padding: 1px;
    margin: 150px;
}
audio {
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
    width: 400px;

}
.cr_audio {
    max-width: 100%;
}
audio::-webkit-media-controls-panel {
    background-color: rgb(95, 249, 0); /* Change this to your desired color */
}

h3 {
    font-size: 21px;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
}
.can {
    max-width: 400px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.can2 {
    max-width: 300px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.can3 {
    max-width: 250px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.short {
    max-width: 500px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: 0px;
    margin-right: auto;
}
.container5 {
    display: flex;   /* Aktiverer flexbox */
    flex-direction: row; /* Standard - side ved side */
    flex-wrap: wrap;
    justify-content: center; /* Sentrerer innholdet horisontalt */
    
}
.death {
    max-width: 500px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.death2 {
    max-width: 900px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Brukte KI */
.vertical {
    border-left: 1px solid rgb(95, 249, 0);
    height: 500px;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

.death3 {
    max-width: 260px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.death4 {
    max-width: 400px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ge {
    max-width: 400px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gh {
    max-width: 350px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gh2 {
    max-width: 1000px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
    rotate: 270deg;
}
.gh3 {
    max-width: 280px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.redacted {
    color: rgb(95, 249, 0);
    background-color: rgb(95, 249, 0);
    padding: 0 4px; 
    user-select: none;
}
.j {
    font-size: 21px;
    color: rgb(95, 249, 0);
    font-family: 'fixedsys', 'Courier New', Courier, monospace;
}

.yao {
    max-width: 600px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.yao2 {
    max-width: 500px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-blockC { /* C for Center */
    display: block;
    text-align: center;
}

.audio-block3 {
    display: block;
    justify-content: left;
    align-content: left;
    padding: 1px;
}

.gl {
    max-width: 1400px;
    height: auto; 
    margin-left: auto;
    display: block;
}

.hoof {
    width: 450px;
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ver {
    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fh {
    font-size: 19px;
}

.fac_img2 {
    max-width: 400px; /* Maks bredde på bildet */
    height: auto; /* Bevarer proporsjonene */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sp {
    font-size: 14px;
}

.three {
    font-size: 23px;
}
.small {
    font-size: 18px;
}

.indent {
    margin-left: 40px;
}

.break2 {
  flex-basis: 15%;
  height: 0; /* Ensures it takes no vertical space */
}

.container6 {
    display: flex;   /* Aktiverer flexbox */
    flex-direction: column; /* Vertikal rekkefølge */
    flex-wrap: nowrap;
    justify-content: left; /* Sentrerer innholdet horisontalt */
}


/* project part 2 */

