{% extends "base.html" %}
{% block title %} Mojave Nevada Journal Entries {% endblock %}

{% block content %}
    <a href="{{ url_for('journal_entries') }}" class="sel" tabindex="0"> > Back to Journal Entries</a>
    <hr>
    <h1 tabindex="0"> Mojave/Nevada Journal Entries </h1>
    <hr>
    <h2> October 1 2164 </h2>
    <p> i... uuh, it should take maybe two weeks to get to new vegas... but i got distracted, i stopped by some small town named gecko and i got tasked with clearing out some coyotes... and i somehow spent a week and a half finding the coyotes a new place to live... ANYWAY, i am not far from new vegas, i'm currently staying in some small village named "Goodsprings". nice people. </p>
    <hr class="short">
    <h2> October 4 2164 </h2>
    <p> i'm finally in VEGAS!... but it is desolate and abandoned... i... i'm not sure what part of me imagined that i had overheard conversations about the strip being... well active, perhaps Ug-Qualtoth's gift allows me to <i> know </i> parts of the future as well as the past and present... i think i'll explore the strip a bit... </p>
    <hr class="short">
    <h2> October 8 2164 </h2>
    <p> I've gone through the different casinos and buildings... well except for the lucky 38... there is no way inside, and believe me i checked. anyway, i think i'll head out and just explore the mojave a little. </p>
    <hr class="short">
    <h2> November 1 2164 </h2>
    <p> I found a group of nightkin, they're super mutants that have gray skin and often go insane because of their extended use of stealth boys, they do NOT like being seen, i met some in a cathedral back in 2157, i managed to convince the children of the cathedral to let me up... anyways, when they're not out of their minds and acting completely lunatic-al?... anyway, they're surprisingly good conversation partners... well most of them anyway. </p>
    <hr class="short">
    <h2> November 16 2164 </h2>
    <p> HOLY MOLY! I found what can only be described as a huge mother deathclaw, terrifying... i need to get a closer look. oh and she's at Quarry Junction, Quarry Junction is found along Interstate 15 towards New Vegas if you're travelling from Goodsprings, i avoided it the first time i traveled from Goodsprings because i took a path north of Goodsprings. there were a few bugs that were terrifying, made loud buzzing noises, and were fast as fuck, i luckily wasn't stung, but i gathered a sample of their venom, and it is <span class="big"> Potent </span> they aren't naturally mutated, these were created by humans, probably an experiment of some kind... hmmm... Cazadores... yes, that is a fitting name, it's spanish for "hunter". </p>
    <hr class="short">
    <h2> November 17 2164 </h2>
    <p> i... i got a closer look, i in fact got a photo, and i also nearly was mauled to death, i came back with a large amount of meat and tried to get on friendly terms with it... it... worked, i haven't tamed it, but i think i'll be able to come back if i bring a lot of meat. </p>
    
{% endblock %}