{% extends "base.html" %}
{% block title %} Mojave Nevada Journal Entries {% endblock %}

{% block content %}
    <a href="{{ url_for('journal_entries') }}" class="sel" tabindex="0"> > Back to Journal Entries</a>
    <hr>
    <h1 tabindex="0"> Mojave/Nevada Journal Entries </h1>
    <hr>
<div class="container">
    <div class="text-block">
        <h2 tabindex="0"> October 1 2164 </h2>
        <p tabindex="0"> i... uuh, it should take maybe two weeks to get to new vegas... but i got distracted, i stopped by some small town named gecko and i got tasked with clearing out some coyotes... and i somehow spent a week and a half finding the coyotes a new place to live... ANYWAY, i am not far from new vegas, i'm currently staying in some small village named "Goodsprings". nice people. </p>
        <hr class="short">
        <h2 tabindex="0"> October 4 2164 </h2>
        <p tabindex="0"> i'm finally in VEGAS!... but it is desolate and abandoned... i... i'm not sure what part of me imagined that i had overheard conversations about the strip being... well active, perhaps Ug-Qualtoth's gift allows me to <i> know </i> parts of the future as well as the past and present... i think i'll explore the strip a bit... </p>
        <hr class="short">
        <h2 tabindex="0"> October 8 2164 </h2>
        <p tabindex="0"> I've gone through the different casinos and buildings... well except for the lucky 38... there is no way inside, and believe me i checked. anyway, i think i'll head out and just explore the mojave a little. </p>
        <hr class="short">
        <h2 tabindex="0"> November 1 2164 </h2>
        <p tabindex="0"> I found a group of nightkin, they're super mutants that have gray skin and often go insane because of their extended use of stealth boys, they do NOT like being seen, i met some in a cathedral back in 2157, i managed to convince the children of the cathedral to let me up... anyways, when they're not out of their minds and acting completely lunatic-al?... anyway, they're surprisingly good conversation partners... well most of them anyway. </p>
        <hr class="short">
        <h2 tabindex="0"> November 16 2164 </h2>
        <p tabindex="0"> HOLY MOLY! I found what can only be described as a huge mother deathclaw, terrifying... i need to get a closer look. oh and she's at Quarry Junction, Quarry Junction is found along Interstate 15 towards New Vegas if you're travelling from Goodsprings, i avoided it the first time i traveled from Goodsprings because i took a path north of Goodsprings. there were a few bugs that were terrifying, made loud buzzing noises, and were fast as fuck, i luckily wasn't stung, but i gathered a sample of their venom, and it is <span class="big"> Potent </span> they aren't naturally mutated, these were created by humans, probably an experiment of some kind... hmmm... Cazadores... yes, that is a fitting name, it's spanish for "hunter". </p>
        <hr class="short">
        <h2 tabindex="0"> November 17 2164 </h2>
        <p tabindex="0"> i... i got a closer look, i in fact got a photo ( i've added it to the guide page on deathclaws ), and i also nearly was mauled to death, i came back with a large amount of meat and tried to get on friendly terms with it... it... worked, i haven't tamed it, but i think i'll be able to come back if i bring a lot of meat. </p>
        <hr class="short">
        <h2 tabindex="0"> December 1 2164 </h2>
        <p tabindex="0"> yeehaw... i don't know... i found a cowboy hat... not much has happened since i last wrote, i've been helping some settlers... OH, i visited hoover dam, and <i>damn</i>... it is abandoned, if there was some big republic or something that took control of it they could power a LOT of things. </p>
        <hr class="short">
        <h2 tabindex="0"> December 24 2164 </h2>
        <p tabindex="0"> Happy... no Merry Christmast, it's a day early, i know, but did you know that people in other parts of the world they celebrate Christmas on the 24th? in scandinavia and other parts of europe they do! so i'm technically not wrong, and as my father used to say "technically right is the best type of right."... i miss him. </p>
        <hr class="short">
        <h2 tabindex="0"> December 27 2164 </h2>
        <p tabindex="0"> I met... i'm travelling with another ghoul, a bounty hunter to be exact, "Cooper Howard" his name is, he's pre-war, from Los Angeles, i've been there once. he's a nice person, but clearly has some repressed trauma, but then again who doesn't... vault dwellers, they don't often have it... well apart from those in vaults with experiments. </p>
        <hr class="short">
        <h2 tabindex="0"> January 3 2165 </h2>
        <p tabindex="0"> Heppy... Happy new year, i know it's a little too late, but i wanted to say that Cooper and I are travelling back towards the west-coast. he says "hi"... he was also curious where i got the pip-boy, why it looked like someone had fused it with a computer, and why i was wearing it. </p>
        <p tabindex="0"> to that i answered: </p>
        <ol>
            <li> <p tabindex="0"> I got it in a vault. </p></li>
            <li> <p tabindex="0"> I <i>did</i> use parts of a vault terminal to extend the storage and functionality of it. </p></li>
            <li> <p tabindex="0"> And that i'm wearing it because it's useful, that i'm writing a guide, and that i'm writing a journal. </p></li>
        </ol>
        <p tabindex="0"> i don't think he thinks too highly of Robert Edwin House... anyway the next journal entries will be found back in the "west coast" journal. </p>
    </div>
</div>
{% endblock %}