{% extends "base.html" %}
{% block title %} West Coast Journal Entries {% endblock %}

{% block content %}
<a href="{{ url_for('journal_entries') }}" class="sel" tabindex="0"> > Back to Journal Entries</a>
<hr>
<h1 tabindex="0"> West Coast Journal Entries </h1>
<hr>
<div class="container">
    <div class="text-block">
        <h2 tabindex="0"> March 26 2163. </h2>
        <p tabindex="0"> This is my FIRST EVER journal entry! I just found this abandoned vault in right by the coast. It's a bit eerie, but I'm not sure if it's safe to stay here or not... BUT THATS BESIDES THE POINT, what I was trying to say was that i found this pip-boy in it. i think i'm going to keep it and modify it a little... maybe i could use a terminal for it... i'll write another entry when something happens. </p>
        <hr class="short">
        <h2 tabindex="0"> March 27 2163. </h2>
        <p tabindex="0"> Okay, so I've been exploring the vault more. I ddi find a terminal, and i found out a way to take photos and upload them to the pip-boy! I dismantled the termianl and used it to extend the pip-boy's storage space, i think i'll begin writing a guide to the wastes. Wish me Luck! </p>
        <sub> I also added the photot of myself, it was kinda fickly... is that a word?... eh, probably, but as i was saying, it took multiple tries to get colour in the image insted of it being just green and black. </sub>
    </div>
    <div class="image-block" tabindex="0">
        <img src="{{ url_for('static', filename='images/human.png') }}" alt="ME, or well an image of me... uuh, i have brown hair and blue eyes." class="gh">
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h2 tabindex="0"> March 29 2163. </h2>
        <p tabindex="0"> So this pip-boy is really handy! It even somehow knows if and where i'm hurt, as well as my S.P.E.C.I.A.L. stats (something vault-tec used in their vaults to determine a dwellers strength, perception, endurance, charisma, intelligence, agility and luck). I'm not sure how it works but it's very useful. </p>
        <p tabindex="0"> anyway i think i'm done in this vault... maybe i'll return someday. </p>
        <hr class="short">
        <h2 tabindex="0"> April 1 2163. </h2>
        <p tabindex="0"> So i met a woman named Tandi today, she was from a place called "Shady Sands". I think it was a small village... she seemed ambitious... hope i'll get to speak with her again. </p>
        <hr class="short">
        <h2 tabindex="0"> May 29 2163. </h2>
        <p tabindex="0"> It's been a while since i've written... this is because i have really just been in a trading center called "The Hub", i've been there hunting and trading to get some supplies and such, and long story short i got side-tracked, and i was on a month-long quest to speak with a bunch of Khans (raiders) to get them to not attack a small settlement on the edge of The Hub... so i forgot to journal... anyway that's what has happened since. </p>
        <hr class="short">
        <h2 tabindex="0"> June 1 2163. </h2>
        <h3 tabindex="0"> [ Data Corrupted ] </h3>
        <hr class="short">
        <h2 tabindex="0"> June 2 2163. </h2>
        <h3 tabindex="0"> [ Data Corrupted ] </h3>
        <hr class="short">
        <h2 tabindex="0"> June 3 2163. </h2>
        <h3 tabindex="0"> [ Data Corrupted ] </h3>
        <hr class="short">
        <h2 tabindex="0"> June 10 2163. </h2>
        <p tabindex="0"> Sorry about the corrupted data... it turns out i got some sand in the pip-boy, but on the note of data, it turns out i don't have as much storage space on the pip-boy as i'd hoped, even after the modifications i made... anyway, from now on I'll only write entries when something interesting and/or noteworthy happens. </p>
        <hr class="short">
        <h2 tabindex="0"> June 15 2163. </h2>
        <p tabindex="0"> Today I met a... soldier?... in black power armor, he talked about me being a "mutie", i assured him that i had no mutations apart from the ones that naturally happen because of evolution... and the radiation, but he didn't let up, so i ran away... stange guy. </p>
        <hr class="short">
        <h2 tabindex="0"> August 2 2163 </h2>
        <p tabindex="0"> it's been a while, hasn't it, journal? i am writing this because i am lost... i was exploring a cave when i got lost... i smell iron, blood... i don't think this place is safe. </p>
        <hr class="short">
        <h2 tabindex="0"> August 3 2163 </h2>
        <p tabindex="0"> I found a corpse... well... many corpses... god there's so many... and i'm so hungry... NO! no i can't... i might have to soon... I'm running low on rations... hopefully it won't come to that. </p>
        <hr class="short">
        <h2 tabindex="0"> August 4 2163 </h2>
        <p tabindex="0"> I had to do it... i had to eat one of the corpses... i was starving... god, the hunger... i'm sorry... i hope i find my way o </p>
        <p tabindex="0"> sorry about the cut-off, i heard voices, it was a caravan... I found my way out... i can't tell anyone about what happened in the cave. </p>
        <hr class="short">
        <h2 tabindex="0"> September 19 2163 </h2>
        <p tabindex="0"> I met some vault dweller from vault 13 today, he seemed important... anyway... It'll probably be a little while before i write again. </p>
        <hr class="short">
        <h2 tabindex="0"> November 11 2163 </h2>
        <p tabindex="0"> i'm showing signs of ghoulification... i may just be paranoid... but i may be turning into a ghoul... fuck... i was hoping to avoid this... but at least now i will live longer... </p>
        <hr class="short">
        <h2 tabindex="0"> October 1 2163 </h2>
        <p tabindex="0"> I'm definetely turning into a ghoul... it <i> itches </i>... my skin is peeling off... it hurts so much... i... i think i'm going to have to find some ghoul-accepting place to sleep; walking hurts... everything hurts. </p>
        <hr class="short">
        <h2 tabindex="0"> October 3 2163 </h2>
        <p tabindex="0"> I... I fond a place. to rest. im trying to write as best as posibel, but its difficult. evertything hurts so much. </p>
        <hr class="short">
        <h2 tabindex="0"> October 10 2163 </h2>
        <p tabindex="0"> it's over... well... the pain is mostly over, i don't know if it is just that my body has managed to ignore it... or if it actually is gone... i've begun hearing noises... voices... i think i'm having auditory hallucinations... probably the lack of sleep, the pain and just the exhaustion of the process of ghoulification. </p>
        <p tabindex="0"> my nose has begun... falling out... the cartilage is... it hurts... based on the interactions and conversations i've had with ghouls previously i think i need more raiatio n... i believe that top them it works as a energy soutce to them... it makes them regenerate faster... i wonder if it would work to just opperate a chunk of pure radioactive mass into my body... </p>
        <hr class="short">
        <h2 tabindex="0"> October 11 2163 </h2>
        <p tabindex="0"> Fuck... FUck... fUcK... it hurst again... i think i'm just dehydrated and need radiation... i should ask if the owners of this place have some dirty weater or something... </p>
        <hr class="short">
        <h2 tabindex="0"> November 1 2163 </h2>
        <p tabindex="0"> I've recovered... mostly... things still hurt, but  raditation seems to be... well it makes me feel amazing... i try to keep some radioactive things with me at all times... the geiger counter on the pip-boy is going haywire... i think imma turn it off somehow. </p>
        <hr class="short">
        <h2 tabindex="0"> November 10 2163 </h2>
        <p tabindex="0"> i found an abandonen... abbandonned... abandonned... damn it how do you write it... i'll have to find a dictionary later... anyway i found a uranium mine... i'll see if i cant mine a chunk of uranium to take with me... </p>
        <p tabindex="0"> * Update * since it's still the same day... uhm... yes! i found a loose chunk of uranium that i'm taking with me. </p>
        <hr class="short">
        <h2 tabindex="0"> December 27 2163 </h2>
        <p tabindex="0"> i found a strange cave. it had carvings on the walls outside of it. as i ventured further inside the cave i found a big center almost hall with an obelisk in the middle. </p>
    </div>
</div>
<div class="container5">
    <div class="image-block2" tabindex="0">
        <div class="text-blockC">
            <h3 tabindex="0"> The cave with the obelisk in the center. </h3>
        </div>
        <img src="{{ url_for('static', filename='images/obelisk.png') }}" alt="The obelisk" class="gh4" tabindex="0">
    </div>
    <div class="image-block2">
        <div class="text-blockC">
            <h3 tabindex="0"> The obelisk up close. </h3>
        </div>
        <img src="{{ url_for('static', filename='images/close.png') }}" alt="A close-up image of the obelisk" class="gh" tabindex="0">
    </div>
</div>
<div class="container">
    <div class="text-block" tabindex="0">
        <p tabindex="0"> while i ventured into the cave and found this obelisk, i felt a buzzing or prickling sensation behind my eyes... i figured it was just because of the pressure change... i was wrong. as i tuched the obelisk i felt a searing pain in my eyes and my mind, not my brain, not like a headache, no, it was in my <i> mind </i>. </p>
        <p tabindex="0"> i know things, things i shouldn't know, i know them all the time, only when i want to, or don't want to, it just comes to me, often when i think about a specific thing... i think there exist forces greater than us... there are things i don't know, for example <i> if </i> there are forces greater than us, and i don't know the future... </p>
        <p> oh, and merry christmas! </p>
    </div>
</div>
<div class="container">
    <div class="text-block">
        <hr class="short">
        <h2 tabindex="0"> December 30 2163 </h2>
        <p tabindex="0"> I... the cave... i know... Ug-Qualtoth. he... she... they... it... it is what gave me the ability, i don't know what it is, but it <i> is </i>, it may be a god, may be something else, but it <i> is </i> much in the same way you and i are, but still different, it doesn't have a physical body, not in the way we do, it seems to to some extent manifest via the obelisk, but... no... thats not right, it is like the obelisk is like a kind of radio... but it's one way, you can speak with it, but it either can't or chooses not to reply. i found a dictionary, i've read through a lot of it... yeah yeah, i know 'nerd', but the definition of 'eldritch' caught my eyes; "uncanny, unearthly, and weird in a supernatural way", this i think fits the best. </p>
        <p tabindex="0"> Ug-Qualtoth has gifted me, and i interpret this as a... wish?... to begin the guide. i assume that i don't need to give offerings since i have no intuition to, and my mind that already thought on its own, and does it even more, just that it <i> gives </i> me information and knowledge, doesn't think?... tell?... me about any offerings or saccrifices... i'll assume i don't need to make any. </p>
        <hr class="short">
        <h2 tabindex="0"> January 1 2164 </h2>
        <p tabindex="0"> well it's been... two?... one?... day, how do you count days again, do you count the day you're on?... well i havent written since december 30th... anyway, i was going to say that i've begun the journal! what i write in the early days probably won't persist since i/we discover new things about the creatures and factions of this world... Ug-Qualtoth's knowledge... i guess... i'll just call it U-knowledge from now on... anyway, it doesn't give me all the knowledge and information about things, so i still need to research myself, which i do appreciate, i enjoy figuring things out myself. </p>
        <hr class="short">
        <h2 tabindex="0"> June 1 2164 </h2>
        <p tabindex="0"> it's been a While, damn, i've embraced my ghoulishness... somewhat, it's not painful anymore, and the uranium i carry with me gives me 'glow' as many ghouls call it, i am beginning to <i>actually</i> glow. it is fascinating, i feel stronger from it, more... alive. </p>
        <p tabindex="0"> anyway, not much has happened this year so far, i've been adding things to the guide, but it's been kind of... tame, it was a little over a year ago that this vault dweller destroyed the master and his army (i've written an entry about him in a page about some of the <sub> in my eyes </sub> most important people i've met.), and since that it's been quiet, boring even... i'm sure in a few years (hopefully just months) something interesting will happen. </p>
        <hr class="short">
        <h2 tabindex="0"> August 1 2164 </h2>
        <p tabindex="0"> hello again, journal. i've begun making a voice journal using holotapes, just talking about what happens every day, it's not that interesting... anyway, nothing to add, i'll probably ebgin writing one entry here at the first of every month if nothing else happnes in that monyh. *th </p>
        <hr class="short">
        <h2 tabindex="0"> September 1 2164 </h2>
        <p tabindex="0"> hi again, not much has happened... well i began travelling east, i'll probably head to nevada and new vegas, i've heard that it's like a pice of the pre-war world that has been preserved... from what i've... heard... Mr. Robert Edwin House was very intelligent, and he worked with vault-tec to create among other things pip-boys... maybe i could find a way to talk to or with him, discuss his pip-boys... </p>
        <hr class="short">
        <h2> January 18 2165 </h2>
        <p> Hello west coast! i'm back. Cooper mentioned that he had spent som time in appalachia in 2105, i managed to get som out of him, but not much, i'll have to travel there myself soon, based on my calculations it should take around 53 days counting sleeping and such... anyway, i asked Cooper what he knew of Ug-Qualtoth, he didn't know anything. </p>
        <hr class="short">
        <h2> February 1 2165 </h2>
        <p> Okay, so i won't leave for Appalachia yet, there's something... it's hard to describe, but it's kinda like an impulse that something significant will happen here. i can't leave yet. </p>
        <hr class="short">
        <h2> March 1 2165 </h2>
        <p> Hey, i... i'm stuck, i know that the happening isn't... yet, it's in at least a year, and the trip to Appalachia will take too long, it will take 1/3 of a year both ways, and i don't want to be late... i'll stay here a while, maybe i'll start some small business or something, hmm... yes, if i could find a bunch of holotapes, i could probably find a way to mass produce two or three pages of the guide... and if i could make a sort of portable holotape player with a screen, holotapes already are able to output audio, but not video, so if i could use terminals to create them, that could be great. </p>
        <p> oh, and Cooper went his own way. </p>
        <hr class="short">
        <h2> April 1 2165 </h2>
        <p> All of Shady Sands is dead, all of the inhabitants dead... <span class="big"> APRIL FOOLS!</span> ha! I bet I got you real good. </p>
        <p> anyway, i went back to the abandoned vault i found this pip-boy in, and i've begun salvaging terminals and scavenging for holotapes. it's going okay, though i clearly need to improve my skill with electronics and such; i dont know enouch to efficiently salvage the parts needed. </p>
        <hr class="short">
        <h2> April 3 2165 </h2>
        <p> Okay, I've read many books, mostly about engineering and computer science... according to my pip-boy i increased my 'science' skill, apparently the pip-boy somehow knows how good i am at different things, like how good i am with weapons and bartering... i'm not sure how it does it... i should find the Vault-tec regional HQ or some kind of manual or a blueprint or something the like. </p>
        <p> anyway, i now have a science skill of 6 which is apparently the highest, so i now know how to disassemble terminals properly. </p>
        <hr class="short">
        <h2> May 1 2165 </h2>
        <p> Okay, i've now scavenged through the whole vault, i think i'll make this my home base, its storage capacity is great, and has a functional water chip, so i won't run out of water... i could actually have this place as a sort of water resort thing... a place people can go if they need water. </p>
        <p> i will also have to construct turrets, i found a manual for building them. </p>
        <hr class="short">
        <h2> May 5 2165 </h2>
        <p> I found a new room in the vault, it's full of terminals and holotapes! IT IS PERFECT! I'm starting the production of the screened portable holotape players, or SPHP for short, i might work on anothr name, but i found another pip-boy, i'll have to potentially saccrifice it to figure out how the screens work... or... i could first just check the terminals they are both able to play holotapes. </p>
        <p> So i'll get back to you when i figure it out. </p>
        <hr class="short">
        <h2> May 10 2165 </h2>
        <p> Okay, so i figured out how it works, they are laser-readable storage devices and that means that the terminal or pip-boy it is inserted in uses a laser to read them, it's quite fascinating. </p>
        <p> anyway, i'm still working on the SPHPs. </p>
        <hr class="short">
        <h2> May 15 2165 </h2>
        <p> So, i've been thinking, if i live for a while, like 'hundreds of years' i cant keep all of my journal entries, so if i dont find another way, i'll probably keep the first year or years of entries, and then just the important ones, and the ones most recent, the rest i'll probably store on a or multiple holotapes, they can actually hold up to 4 terabytes, which is a LOT, so i'll probably be able to store much more than i originally anticipated on them. </p>
        <hr class="short">
        <h2> June 1 2165 </h2>
        <p> </p>
    </div>
</div>
{% endblock %}
