{% extends "base.html" %}
{% block title %} Atomites - Factions {% endblock %}

{% block content %}

<a href="{{ url_for('factions') }}" class="sel"> >Back to Factions</a>
<h1> Church of the Children of Atom </h1>
<div class="container">
    <div class="text-block">
        <p> The Church of the Children of Atom (truncated as the Children of Atom, Church of Atom, or Atomites, sometimes derisively called rad eaters) is a religious movement which worships Atom, a deity personifying nuclear weapons, their detonation, and the resulting radiation. Where most people see weapons of mass destruction, the Children see holy tools of creation. Generally, they believe the world was created when an atom was split, and that each nuclear detonation represents the birth of countless new universes. </p>
    </div>
    <div class="image-block">
        <img src="/static/images/atom.png" class="fac_img" alt="Emblem of the Church of the Children of Atom" >
    </div>
</div>



{% endblock %}
