{% extends "base.html" %}
{% block title %} Enclave - Factions {% endblock %}

{% block content %}

<a href="{{ url_for('factions') }}" class="sel"> >Back to Factions</a>
<h1> Enclave </h1>
<div class="container">
    <div class="text-block">
        <p> It is a quasi-state(Note) declaring itself as the inheritor of the pre-War United States, classified as a fascist paramilitary organization. Its origins lie in the pre-War American deep state, which consisted of a unified, widespread, and conspiratorial extra-political coalition of of high-ranking political, military and corporate figures. Its members publicly claim to be the direct continuation of the U.S. government who survived the Great War, making frequent use of patriotic phrases and imagery, such as "God Bless America." However, many ranking members seized power by subverting continuity of government protocols and even murdering non-Enclave government survivors in the name of continuing the war against communism and China. Additionally, the Enclave eventually dedicated itself to the implementation of an all-inclusive holocaust of any human outside ranks, designated as "genetic non-compliance offenders." </p>
    </div>
    <div class="img-block">
        <img src="/static/images/enclave.png" class="fac_img3" alt="Enclave Emblem">
    </div>

{% endblock %}
