{% extends "base.html" %}
{% block title %} New California Republic - Factions {% endblock %}

{% block content %}
<a href="{{ url_for('factions') }}" class="sel"> >Back to Factions</a>
<h1> New California Republic </h1>
<div class="container">
    <div class="text-block">
        <p> The New California Republic (NCR) is a post-War federal republic founded in the namesake territory of New California in 2189. At its peak, its territory comprised five contiguous states located in southern California,[8][5] with additional holdings in northern California,[16][17] Oregon,[RPG 1] Nevada,[18][19][RPG 2] Arizona, and northern Mexico. </p>
        
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/ncr.png') }}" alt="New California Republic Emblem" class="fac_img">
    </div>
</div>
{% endblock %}