{% extends "base.html" %}
{% block title %} Canines - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures </a>
<hr>
<h1> Different Canines </h1>
<li> <a href="{{ url_for('cyberdog') }}" class="sel"> > Cyberdog </a> </li>
<li> <a href="{{ url_for('dog') }}" class="sel"> > Dogs </a> </li>
<li> <a href="{{ url_for('mongrel') }}" class="sel"> > Mongrel </a> </li>
<li> <a href="{{ url_for('mutant_hound') }}" class="sel"> > Mutant_Hound </a> </li>
<li> <a href="{{ url_for('wolf') }}" class="sel"> > Wolves </a> </li>
{% endblock %}