{% extends "base.html" %}
{% block title %} Geckos - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<h1> Geckos </h1>

<div class="container">
    <div class="text-block">
        <p> * Isn't this something the vaults had?... wait, no that was a G.E.C.K! <sub> (garden of eden creation kit) </sub> * </p>
        <p> Geckos are mutated lizards prized for their sleek and durable hides. They are known to inhabit the Mojave Wasteland and New California and its surrounding areas. </p>
        <hr>
        <h2> Overview </h2>
        <p> Before the Great War, they could be found in warm climates throughout the world, ranging from 0.39 in (1.6 cm) to 27 in (60 cm) in size, with the particularity among other lizards to make chirping sounds in social interactions with others. After the Great War, they've mutated, causing them to grow to giant size. Most of them evolved due to their exposure to the mutated F.E.V. in the air coming from the West Tek research facility, while some emerged due to other toxic conditions like massive radiation spills. These geckos are the result of an unknown species of lizard indigenous to the Oregon-California border regions, which have mutated after exposure to mutated FEV. The mutation made them bigger, stronger, faster, and more fertile. The initial rampant mutation took several generations to stabilize, but once it did, the geckos became highly reproductive. In fact, their breeding rate is second to rats that were exposed to trace amounts of mutated FEV. </p>
        <p> Modern geckos are large, easily capable of growing to the size of a small child and beyond in certain cases. They have a hunched posture, a varied coloration of skin (closely related to their size and behavior), and tend to live in packs. While geckos are peaceful and non-threatening, they exhibit a pack mentality. If a single gecko attacks or is attacked, the remaining pack will join, charging the attacker fangs and claws bared. Packs are the usual family unit and can be either composed of a single gecko type or mixed. Geckos, like the lizards they stem from, are oviparous, with both parents caring for the eggs. They don't seem to make permanent nests, likely as a result of their tendency for migrating in search of food. </p>
    </div> 
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/gecko.png') }}" alt="Gecko" class="ge">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Characteristics </h2>
        <p> Geckos are reptilian in appearance and sport a pair of frills behind their head. Their eyes generally have an orange tint, and their body colors differ greatly based on the individual gecko type. Most geckos have five fingers, five toes and have kept their pre-War ability to make chirping sounds in social interactions with each other. Gruff breathing, squeaking, and cooing can be heard from time to time in gecko-inhabited areas. Like their pre-War cousins, Geckos lack eyelids and tear-ducts and can often be seen using their elongated tongues to lick at their eyes, clearing away dust and small debris. Most regular geckos are peaceful, unthreatening creatures, but if one gecko is attacked, the rest of the pack in the area will quickly converge on the attacker, charging quickly with their mouths open and rapidly attacking with bites and swipes from their clawed hands. </p>
        <p> Geckos seem to have no strictly hierarchical social structure, with no apparent leader and everyone seemingly being equal in the pack. Some seem to serve as hunters for the pack. Like deathclaws, they are oviparous, with the eggs typically covered by the father or the mother before the hatching and not laid into a place. </p>
        <p> Normal geckos and golden geckos have hides that can be turned into all sorts of useful and attractive clothing items. Dresses, jackets and even armor can be constructed from their durable pelts after they've been tanned. </p>
        <hr>
        <h2> Variants </h2>
        <hr class="short">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <p> Gecko </p>
        <p> The regular gecko is a small-medium-sized gecko with indigo skin. Like their cousins the silver geckos, they are mostly peaceful but tend to be rather aggressive in groups. They are very quick on their feet and are fond of using their numbers to rush and overwhelm the opponent. </p>
    </div> 
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/gecko.png') }}" alt="Gecko" class="ge">
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h3> Silver / little gecko </h3>
        <p> The silver gecko, also called little gecko, is a small-sized gecko with silver skin. They are the smallest and least aggressive of all geckos and are not very resistant to damage. They have thus far only been observed in southern Oregon. </p>
    </div> 
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/silver_gecko.png') }}" alt="silver Gecko" class="ge">
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h3> Golden gecko </h3>
        <p> The golden gecko is a medium-sized gecko with golden skin. They are a more beautiful, but also more deadly kind of gecko than regular geckos and silver geckos. They can be found around irradiated areas which they lick up toxic waste, causing their particular mutation  different than any other kind of geckos, and making their attacks to irradiate the opponent. They can be found in southern Oregon and the Mojave Wasteland. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/golden_gecko.png') }}" alt="Golden Gecko" class="ge">
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h3> Fire gecko </h3>
        <p> The fire gecko is a medium-large sized gecko with dark violet skin. They are the second deadliest kind of gecko after the green gecko and, as indicated by their name, can breathe fire due to their constant exposure to sulfur that is now held in their digestive system. Unlike other geckos, they also have large spikes or decorative frills that cover their heads down to their lower back. They are immune to fire. They can be found in northern California and the Mojave Wasteland. </p>
    </div> 
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/fire_gecko.png') }}" alt="fire Gecko" class="ge">
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h3> Green gecko </h3>
        <p> The green gecko is a large gecko with shiny light green skin. They are the most deadly of all geckos and can spit several slow-moving and far-reaching globs of poisonous saliva similar to centaurs. Despite their fragile appearance, they have a high resistance to damage. The cause of their mutation is currently unknown, though some theorize it might be due to the ingestion of poisonous plants native to Zion. They can only be found in Zion Canyon. </p>
    </div> 
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/green_gecko.png') }}" alt="green Gecko" class="ge">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Audio </h2>
        <p> Below you will find various noises geckos make: </p>
        <hr>
    </div>
</div>
<div class="container3">
    <div class="audio-block">
        <p> Gecko Combat Idle: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/gecko_combatidle.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Pained Gecko: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/gecko_painvox.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Gecko Snarl: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/gecko_snarl.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="audio-block">
        <p> Fire Gecko Flameburst: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/fire_gecko_flameburst.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Fire Gecko Flame: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/fire_gecko_flame_lp.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}