{% extends "base.html" %}
{% block title %} Glowing One - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<h1> Glowing Ones </h1>

<div class="container">
    <div class="text-block">
        <p> These Ghouls are probably my favourite. They are by far the most facinating ones! </p>
        <p> Glowing ones or luminous necrotic post-humans are ghouls who have absorbed so much radiation that they emit a strong green glow. Glowing ones have become living conduits of radioactivity and emit radiation involuntarily, so they can still be dangerous to normal humans, even after dying. </p>
        <p> In daylight, they simply appear to be incredibly pale feral ghouls, but in the darkness, they glow with a vivid yellow-green hue, their opaque skeletons clearly visible as in an X-ray. Approaching a fallen glowing one can cause minor exposure to radiation, so they can still be dangerous to humans even after their death. </p>
        <p> Feral glowing ones are generally stronger than normal feral ghouls. They are radioactive to the point of being able to voluntarily release it from their bodies in a brilliant burst. This burst of light harms their enemies, and may heal and even revive feral ghouls in their vicinity. Non-feral glowing ones are not known to be capable of radiation bursts. </p>
        <p> They are often considered outsiders even by other (non-feral) ghouls, they are also one of the rarest of the feral ghouls. While there are many glowing ones that kept their normal human intellectual abilities in New California, it seems that nearly all of them in the Capital Wasteland and the Mojave Wasteland have become feral </p>
        <p> The Capital Wasteland and some Mojave Wasteland glowing ones can also emit an incandescent wave of radiation at will from their bodies, which they use to heal themselves and any surrounding ghouls while damaging their enemies. Even though being considered outcasts, other feral ghouls seem to follow them, as they are attracted to the lethal doses of radiation the glowing ones emit from their bodies. </p>
        <hr>
        <h2> Background </h2>
        <hr class="short">
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/glowing.png') }}" alt="Ghoul" class="gh">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> In New California </h3>
        <p> Although most glowing ones encountered across the wastes have become feral, those encountered in New California are generally civil (if not sane).</p>
        <p> Until Necropolis was overrun by the super mutants in 2162, glowing ones lived quietly in the remains of Vault 12, separate from the normal ghouls on the surface. Just above ground, several were kept in evenly-spaced cages lining the Hall of the Dead, apparently as a source of lighting. All glowing ones at Necropolis were kept within the church or the Vault. Those who dwelt within Vault 12 were all capable of articulate speech, and expressed themselves in strange, poetic declarations. The six imprisoned at the church were only known to mumble and drool. </p>
        <p> Nearby, a separate population of peaceful ghouls were forced to take refuge in a sewer by the ghoul warlord Set. Despite his brutal ways, he neglected to kill these peaceful ghouls, so they could help defend Necropolis should the need arise. The placid glowing ones of Necropolis may have been kept for similar purposes. They also guarded and maintained the Vault's water processing system, which was still operational. </p>
        <p> As they are not feral creatures, the glowing ones of Vault 12 are mentally ill elderly people. They require water, and without the Vault's water processing functionality, they will die. They will not attack the Vault Dweller unless the player assaults them or removes Vault 12's water chip. In both scenarios, the glowing ones act in self-defense against someone who has entered their home and attempted to murder them. </p>
        <p> The destruction of Necropolis resulted in the Bakersfield ghoul population scattering to the surrounding areas, such as Los to the east, where they founded the Church of the Lost, a ghoul cult dedicated to the protection of the Corporate Vault. Glowing ones are seen among their ranks. </p>
        <p> To the north, several glowing ones would go on to find work in the nuclear plant at the metropolitan settlement of Gecko, performing complex labor in the reactor area. Hank is one of these glowing technicians. Additionally, two glowing ones live at Broken Hills, a settlement where all humans and mutants are invited to live in cooperation. </p>
        <h3> Elsewhere </h3>
        <p> Outside of New California, the term "glowing one" carries different connotations. Almost universally feral, the glowing ones seen in the Capital and elsewhere can discharge a wave of radiation at will from their bodies, which they use to heal themselves and any surrounding feral ghouls while damaging their enemies. Other ghouls seem to follow them, attracted to the radiation they emit. </p>
        <p> In Underworld, Doctor Barrows holds two of his former patients, "Meat" and Ethyl, in a locked isolation room to study their condition. </p>
        <p> Feral glowing ones are often encountered in subway tunnels, mines, and other industrial spaces. Non-feral glowing ghouls, while common in New California, are very rare elsewhere. A few sentient glowing ones, like Jason Bright and Oswald the Outrageous, have managed to maintain their faculties. Others, such as Ethyl and the Sun of Atom, are non-hostile to humans, but have lost their ability to communicate, and share the appearance of their feral counterparts. One person who ultimately went feral, Freddie Lang, was capable of typing for some time after her skin began to glow. </p>
        <hr>
        <h2> Biology </h2>
        <p> The distinctive luminescence that is the trademark of the glowing one can be best attributed to an unusually high amount of radioactive material that builds up in the bloodstream and muscle tissue of a typical ghoul. Sometimes, upon the transformation into a feral ghoul, the neurological systems of the body cease filtering these particles from the blood and tissue, instead of causing them to build a distinctive bio-luminescence that is a characteristic of the glowing ones. In daylight, they simply appear to be incredibly pale feral ghouls, but in the darkness, they glow with a vivid yellow-green hue, their opaque skeletons clearly visible as in an x-ray. Approaching a deceased glowing one can cause minor radiation exposure </p>
    </div>
</div>
<div class="container4">
    <div class="text-block">
        <h3> Putrid glowing one </h3>
        <p> A higher level version of glowing one, covered in glowing green blisters of radiation. Its radiation aura is almost twice as strong, but it is no longer capable of performing its area of effect radiation attack. This is the strongest type of feral ghoul in the wasteland, damage-wise.</p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/putrid.png') }}" alt="Ghoul" class="gh3">
    </div>
</div>
<div class="container4">
    <div class="text-block">
        <h3> Bloated glowing one </h3>
        <p> A higher level version of glowing ones. Its body is bloated and swollen with radioactive material, appearing considerably larger than other ghoul variants. It gives off more radiation than its counterparts, and their melee attack is marginally weaker when compared to a putrid glowing one. However, it does have the highest health of all feral ghouls. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/bloated.png') }}" alt="Ghoul" class="gh">
    </div>
</div>
<div class="container4">
    <div class="text-block">
        <h3> May-Pole </h3>
        <p> In my research of ghouls, i stumbled upon the rumour of a huge, terrifying ghoul named the "may-pole", i was eager to find out what it was all about.</p>
        <p> what i discovered was terrifying, jarring, and frankly really facinating. </p>
        <p> When i actually found the may-pole, it was in the glowing sea that lies to the south west of boston. </p>
        <p> The May-Pole stood at a terrifying height, approximately 300 feet (90 meters), and looked like a melting elemental of agony. It was followed by hordes of mindless, regenerating feral ghouls. </p>
        <p> After this incident, i was almost convinced that atom was real, but that he wasn't as kind as the church of the children og atom makes him out to be. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/may_pole2.png') }}" alt="May-Pole" class="gh">
    </div>
</div>
<div class="container4">
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/may_pole_full.png') }}" alt="May-Pole" class="gh2">
    </div>
</div>
{% endblock %}