{% extends "base.html" %}
{% block title %} Yao Guai - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<h1> Yao Guai </h1>
<div class="container">
    <div class="text-block">
        <p> So imagine the deathclaw, but in mamal form, and that's the yao guai! these big bears deal more damage than a normal deathclaw, but aren't as resiliant.</p>
        <p> Yao guai are the mutated descendants of the American black bear. These vicious creatures are found in Appalachia, the Capital Wasteland, the Commonwealth, the Island, and Zion Canyon. </p>
        <hr>
    </div>
</div>
<div class="container5">
    <div class="image-block2">
        <div class="text-blockC">
            <h3> East coast Yao Guai </h3>
        </div>
        <img src="{{ url_for('static', filename='images/yao_guai_fo4.png') }}" alt="east coast yao guai" class="yao">
    </div>
    <div class="break"></div>
    <div class="image-block2">
        <div class="text-blockC">
            <h3> West coast Yao Guai </h3>
        </div>
        <img src="{{ url_for('static', filename='images/yao_guai_fo3.png') }}" alt="west coast yao guai" class="yao">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Background </h2>
        <p> Named by descendants of those held in Chinese internment camps before the Great War, yao guai are mutated American black bears. They are one of the more vicious creatures of the wasteland, having razor sharp claws and teeth, and a nasty temperament. </p>
        <hr>
        <h2> Characteristics </h2>
        <p> Yao guai are large, mutated ursines that are descended from the bears that lived across America before the Great War. They are able to reproduce, as evidenced by the presence of cubs. Wild yao guai will attack nearly any other animals or people they encounter, including deathclaws. Despite this, yao guai exhibit a gentle, familial bond toward one another when found together and can even be domesticated. </p>
        <p> Yao guai may be hunted for their meat and hides. Yao guai may be prepared into ribs and roasts. Yao guai remains may be kept as trophies, trinkets or used as materials to make exotic weapons, such as Bear Arm or She's Embrace. </p>
        <h3> Biology </h3>
        <h4> East Coast variant </h4>
        <p> The physical build of the East Coast variant does not seem to drastically deviate from pre-War bears as much as the yao guai in the Capital Wasteland and Zion Canyon. Comparatively, they are overall less dog-like in their posture and movement and sport thicker patches of fur and more body fat. Since their upper body, chest and arms are not as massive, the Appalachian yao guai have a more traditional bear-like posture and gait. These yao guai are generally larger than their unmutated predecessors and are more aggressive. </p>
        <hr class="short">
        <h4> Zion Canyon variant </h4>
        <p> The physical build of the Zion variant does not drastically deviate from pre-War bears as much as other cases of yao guai found in the Capital Wasteland and the Commonwealth. Comparatively, they are overall less dog-like in their posture and movement and sport thicker patches of fur and more body fat. Additionally, since their upper body, chest and arms are not as massive, the Appalachian yao guai have a comparatively more traditional bear-like posture and gait. Yao guai are generally larger than their unmutated predecessors and more aggressive. </p>
        <h5> Attributes </h5>
        <p> Yao guai are extremely fast and powerful creatures, second only to deathclaws in terms of raw strength and speed. Unlike deathclaws, they are less alert, as you may come in contact with one when it is asleep or lying down. Strangely enough, Yao guai do not attack bighorners in Zion Canyon. They will become hostile towards you upon detection. </p>
        <hr>
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h2> Yao Guai variants </h2>
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h3> East Coast Variants </h3>
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h3> Stunted yao guai </h3>
        <p> Though not as physically imposing as normal yao guai due to minor malformations, past injuries, or arrested development. As a result, they are less of a threat compared to other variants, but these bears are still formidable opponents. Wherever they are found with another yao guai it is usually one with a similar affliction. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/stunted_yao.png') }}" alt="stunted yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Yao guai </h3>
        <p> The typical form of a yao guai, they are stronger than their stunted counterparts and can prove a difficult fight for low level player characters due to their considerable strength and aggressive nature. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/yao_guai_fo4.png') }}" alt="yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Yao guai ghoul </h3>
        <p> A ghoulified version of the yao guai. I have only encountered these in Far Harbor. Its sensory organs seem to be heavily damaged due to radiation poisoning, age and past injuries, as they hare less perceptive than their non-ghoulified variant. </p>
        <p> Though they are less perceptive and look more... dead, these ghoulsih bears are more dangerous, they deal more damage and take more hits to go down. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/ghoul_yao.png') }}" alt="ghoul yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Shaggy yao guai </h3>
        <p> Larger in size with longer, more shaggy fur than the average yao guai, these variants have greater resilience and more power behind their attacks. </p>
        <sub> The name reminds me of green shirts and food... not sure why. </sub>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/shaggy_yao.png') }}" alt="shaggy yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Irradiated yao guai </h3>
        <p> This variant of yao guai, similarly to the ghoul variant, is one i have only encountered in Far Harbor. These yao guai are sickly green in color with hard, bony growths sprouting from their bodies, including near their eyes. Irradiated yao guai are more strangely perceptive than their other yao guai, despite the growths near their eyes, rendering them a capable enemy. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/irradiated_yao.png') }}" alt="irradiated yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Glowing yao guai </h3>
        <p> Similar looking to standard yao guai. However, it glows due to an excess of radiation absorbed by its body and is considerably tougher than its counterparts. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/glowing_yao.png') }}" alt="glowing yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Albino yao guai </h3>
        <p> These yao guai are much lighter in coloration than a typical yao guai due to a genetic defect causing albinism. They are significantly tougher than their standard counterparts. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/albino_yao.png') }}" alt="albinoRa yao guai" class="yao2">
    </div>
</div>
<hr class="short">
<div class="container">
    <div class="text-block">
        <h3> Yao guai </h3>
        <p> Standard yao guai really, not much to say, mostly similar to the east coast yao guai. </p>
        <p> The yao guai are not as diverse in the west coast as they are in the east coast. so there aren't really any variants to it... well... except for one. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/yao_guai_fo3.png') }}" alt="west coast yao guai" class="yao2">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h3> Ghost Of She </h3>
        <hr class="short">
        <h3> Background </h3>
        <p> According to Waking Cloud, a Sorrows child once wandered into a yao guai's cave before her naming ceremony and was eaten by the beast. The Sorrows believe that the little girl and the yao guai became one, hence the name "Ghost of She." </p>
        <hr>
    </div>
</div>
<div class="container">
    <div class="audio-block3">
        <p> Recording Of Waking Cloud's Story About The Ghost Of She </p>
        <p> "That is a sad story. I do not like to tell it, but if you are asking, it must be at White Bird's request. That, I will honor. Long ago, a girl lived among this tribe. She was a curious child, and a clever one, and her mother had a devil's time watching over her. One day, the child slipped away from camp and went to play in the caves nearby. The girl did not know that a Yao Guai slept in that cave. The girl died. The tribe wept, for the girl had died before her naming day, and her ghost would remain restless and wandering upon the earth. Many hunters tried to kill the beast, but it eluded them, or drove them off. The shaman said that since it had consumed the girl, the two were one. So we call the beast Ghost of She, for the child had no name to be called. That is the story of the Ghost of She. It is a sad story. It is our story." </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/WakingCloud_SadStoryGhostOfShe.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/ghost.png') }}" alt="ghost of she" class="yao2">
    </div>
</div>
{% endblock %}