{% extends "base.html" %}
{% block title %} Giant rat - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_vermin') }}" class="sel"> > Back to Vermin</a>
<hr>
<h1> Giant Rat </h1>
<div class="container">
    <div class="text-block">
        <p> Giant rats are an oversized version of pre-War common rodents. They vary greatly in strength, from ones the size of a cat or chihuahua to ones bigger than humans, like their mole rat cousins. The rats are hostile and will begin combat if one draws too near, severely delaying passage through rat-infested areas. </p>
        
    </div>
    <div class="image-block">
    </div>
</div>

{% endblock %}