{% extends "base.html" %}
{% block title %} Giant rat - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_vermin') }}" class="sel"> > Back to Vermin</a>
<hr>
<h1> Giant rat / Rad-rat <sub> (we'll call them rats from now on) </sub></h1>
<div class="container">
    <div class="text-block">
        <p> Giant rats are an oversized version of pre-War common rodents. They vary greatly in strength, from ones the size of a cat or chihuahua to ones bigger than humans, like their mole rat cousins. The rats are hostile and will begin combat if one draws too near, severely delaying passage through rat-infested areas. </p>
        <hr>
        <h2> Characteristics </h2>
        <p> Rad-rats, much like their pre-War counterparts, are small rodents, although slightly larger than their counterpart due to their extended contact with radiation. Their fur, like that of mongrels, has fallen off due to radiation and has left them with wrinkled, tight skin. They also emit the same noises as mole rats. They are however much tougher than normal mole rats, having more hitpoints and dealing more damage. </p>
        <h3> Biology </h3>
        <p> Giant rats appear to be larger versions of normal pre-War rats, although they appear to have lost most of their fur. They have spotted skin like molerats and glowing turquoise eyes. Similar to their pre-war counterparts, they have very large incisors. Giants rats are often found in darker areas such as caves and abandoned buildings. </p>
        <h3> Attributes </h3>
        <p> Giant rats will not attack on sight but will stand defensively in the way bighorners do when an enemy is spotted. Only when you get within proximity or attacks them will they become hostile. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/giant_rat.png') }}" alt="Giant Rat" class="ver">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Variants </h2>
    </div>
</div>
<hr class="short">
<div class="container4">
    <div class="text-block">
        <h3> Rad-rat </h3>
        <p> The rad-rat is the east-coast's equivalent of the west-coast's giant rat. </p>
        <p> Once regular pesty rats before the war, the North American rat population was tainted by the radioactive fallout from the onslaught of atomic warfare. Rad-rats are much bigger than their pre-War cousins. They have large teeth and pearl-like eyes. Their bite and their scratch inflict radiation damage. </p>
        <h4> Characteristics </h4>
        <p> Rad-rats, much like their pre-War counterparts, are small rodents, although slightly larger than their counterpart due to their extended contact with radiation. Their fur, like that of mongrels, has fallen off due to radiation and has left them with wrinkled, tight skin. They also emit the same noises as mole rats. They are however much stronger than normal mole rats, being more tough and dealing more damage. </p>
        <p> Rad-rats are aggressive; when attacked they will fight back, using their claws and mouths to attack their enemy. They will also use a lunge attack at a distance. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/rad_rat.png') }}" alt="Rad Rat" class="ver">
    </div>
</div>
<hr class="short">
<div class="container4">
    <div class="text-block">
        <h3> Giant rat </h3>
        <p> Giant rats are light brown color, with glowing blue eyes and white hair down its back. The standard giant rat is equal in size to a mole rat. They are quite fast and attack in groups of three to seven. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/giant_rat.png') }}" alt="Giant Rat" class="ver">
    </div>
</div>
<hr class="short">
<div class="container4">
    <div class="text-block">
        <h3> Giant rat pup </h3>
        <p> These young rats look identical to fully grown giant rats, albeit smaller than the standard giant rat. They usually don't attack but instead run away. However, if pups are encountered with normal giant rats, they will accompany them in the assault. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/giant_rat.png') }}" alt="Giant Rat Pup" class="ver">
    </div>
</div>

{% endblock %}