{% extends "base.html" %}
{% block title %} Mole rat - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_vermin') }}" class="sel"> > Back to Vermin</a>
<hr>
<h1> Mole rat </h1>
<div class="container">
    <div class="text-block">
        <p> Mole rats are giant rodents found in the Mojave Wasteland, the capital wasteland, the Commonwealth, on the Island of Far Harbor, and in Appalachia. </p>
        <h2> Background </h2>
        <p> Mole rats are mutated rodents that are much larger than their pre-War counterparts, the naked molerat. They have survived as a species by burrowing underground where the soil protected them from direct nuclear explosions. However, they still were greatly mutated by the subsequent fallout, increasing their size as well as their viciousness. A few people in the wastes have even been known to train and keep them as pets. </p>
        <p> Mole rats have sharp claws and even sharper tusks that they use to tear great chunks of flesh from their prey. Mole rats are either huge rats or the result of gene-splicing Kodiak bears with maladjusted lab rats. They seldom run in packs larger than a half dozen or so. </p>
        <p> On the "Pentagon Library terminal" in the Citadel, I discovered that the mole rats in the Capital Wasteland (and possibly the other mutated rats in the West Coast and the Core Region) are the result of an American government program (codenamed 'CLOACINA') to develop an invasive lifeform that could be planted in China, where its aggression and fast breeding would help undermine the Chinese war effort. It is noted that a genetic 'kill switch' was included to help the US Army clean up the rats after the theoretical fall of China. Additionally, it was revealed that the researchers attempted to use the Forced Evolutionary Virus to further augment their creations, but dismissed this course of action as FEV had a tendency to render subjects sterile (defeating the whole purpose of the rats being invasive). </p>
    </div>
</div>
<div class="container5">
    <div class="image-block2">
        <div class="text-blockC">
            <h3> East coast Mole Rat </h3>
        </div>
        <img src="{{ url_for('static', filename='images/yao_guai_fo4.png') }}" alt="east coast yao guai" class="yao">
    </div>
    <div class="break"></div>
    <div class="image-block2">
        <div class="text-blockC">
            <h3> West coast Yao Guai </h3>
        </div>
        <img src="{{ url_for('static', filename='images/yao_guai_fo3.png') }}" alt="west coast yao guai" class="yao">
    </div>
</div>

{% endblock %}