{% extends "base.html" %}
{% block title %} Nightstalker - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_vermin') }}" class="sel"> > Back to Vermin</a>
<hr>
<h1> Nightstalker </h1>
<div class="container">
    <div class="text-block">
        <p> * These buggers are... well they are both canine and snake, so i decided they shoul be here. I find it fitting since the definition of vermin is "wild animals that are believed to be harmful to crops, farm animals, or game, or which carry disease, e.g. rodents." * </p>
        <p> Night stalkers (sometimes spelled "nightstalkers") are creatures living in the Mojave Wasteland and Big MT. </p>
        <hr>
        <h2> Background </h2>
        <p> Night stalkers are the pre-War creations of Dr. Borous at Big MT, being genetic hybrids of rattlesnake and coyote DNA. Borous' rationale for creating the night stalkers is unclear, due to the scrambling of his memories as a think tank; one possibility he offers is that it was in order to preserve the DNA of rattlesnakes from extinction, while another is that it may have been because of a dare with Dr. Calis, the chief scientist at the X-13 research facility. </p>
        <p> Due to their creation, the shipping department of the X-8 research center suffered a large number of fatalities, where all but one employee (Skippy) were killed by the night stalkers. However, Dr. Adam Figgis thought the executives in charge of X-8 could salvage the mishap in shipping and decided to let the night stalkers loose into the X-8 testing area to study their behavior. Sometime after the bombs dropped, many night stalkers escaped and have spread across the Mojave and beyond, with some even reaching as far as Baja. Night stalkers occasionally clash with cazadores (which were also created at Big MT) over territory. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/nightstalker.png') }}" alt="Nightstalker" class="ver">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Characteristics </h2>
        <hr class="short">
        <h3> Biology </h3>
        <hr class="short">
    </div>
</div>
<div class="container">
    <div class="audio-block3">
        <p> Recording Of Dr. Borous where he says he created the night stalkers and the cazadores. </p>
        <p> "You may know me as the Head Chief First Researcher of Labs Z-9 and Z-14. There I fought valiantly to preserve rattlesnake DNA, and put it right where it belongs, in the husk of another feared predator. Oh, and the tarantula hawk. Can't splice enough, I always say, Especially if you can make a magnificent Cazador!" </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/Borous_YouMayKnowMe.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
<div class="container">
    <div class="text-block">
        <p> Night stalkers are a genetic hybridization of the coyote and rattlesnake, displaying characteristics of both. They growl, howl and whimper like regular coyotes, but hiss, rattle and inject venom into their prey like rattlesnakes. Their bodies are mostly dog-like, covered in a combination of fur and scales. Their heads and tails, however, are more like that of a rattlesnake, including fangs and a forked tongue. Night stalkers' right eyes are blue with a round pupil, while their left eyes are yellow with an elliptical pupil, like a rattlesnake's. They lay eggs, like a snake, but raise their pups similar to a coyote, nursing their young in cave nests. </p>
        <p> Night stalkers nest in caves across the Mojave Wasteland and can be found both inside those caves or in the nearby area. Packs of night stalkers can be frequently seen hunting at night east of Morning Star Cavern near the nest with the radscorpion queen, south of the broc flower cave and northwest of the cap counterfeiting shack. Their original breeding ground is the Z-9 Crotalus DNA preservation lab, located in the Big MT. </p>
        <p> Night stalkers would be further refined in the X-13 research facility, with the team there administering an invisibility serum that would give latent cloaking ability to all night stalkers from then on. However, the cloaking ability was passive; under direct observation from another living organism, it effectively ends, as the night stalker would be under duress. Dr. Calis theorized that the night stalkers were not under thorough enough stress to need to use their cloaking ability. Calis ordered cattle prods to successfully induce the use of the serum's cloaking ability by torturing the night stalkers and altering their brain chemistry. However, torture is not the only way that the latent invisibility of night stalkers can be unlocked. Through exposure to stealth radiation, the night stalkers' potential for invisibility can be achieved as well. </p>
        <p> As their name suggests, night stalkers are largely nocturnal, hunting in packs at night for unaware or sleeping prey. However, it is still possible to encounter night stalker packs during the day. </p>
        <p> Night stalker eggs can be used to prepare Mushroom Cloud. Their blood is also used as an ingredient in antivenom, hydra and nightstalker squeezin's. </p>
        <h3> Attributes </h3>
        <p> When they detect an enemy, they may strike with a leaping attack and a venomous bite, or snap at them without leaping. While the venom is not as potent as that of their main competition, the cazador, it can pose a serious problem if multiple bites are received and aren't promptly treated. </p>
        <p> Night stalkers can pose a particular threat in areas of low visibility, at night (when they are active) or in caverns. They are especially dangerous inside their dens, where packs are usually large in numbers, and twisting corridors make it difficult to detect exactly where they are. </p>
        <p> Night stalkers found in the Charleston Cave and the lower level of the X-13 research facility have the preternatural ability to cloak as if using a Stealth Boy. The pack in the Charleston Cave gained this ability from collectively chewing on a Stealth Boy Mark II prototype, while the ones in the X-13 testing facility had the ability granted by an unknown scientist. From all appearances, when a night stalker is exposed to stealth radiation, it effectively turns them permanently invisible. </p>
    </div>
</div>
<div class="container">
    <div class="text-block">
        <h2> Variants </h2>
        <hr> 
        <h3> Night stalker </h3>
        <p> Night stalkers are the size of coyotes, with a canine body and the head and tail of a rattlesnake. Night stalkers nest and hunt in packs and are found in or near their cave nests. </p>
        <hr class="short">
        <h3> Young night stalker </h3>
        <p> In appearance, young night stalkers are visually identical to fully grown night stalkers, but are smaller in size and have weaker attacks and defenses. Although relatively weak, they are a nuisance when fought in groups of other young night stalkers and their fully grown brethren. </p>
        <hr class="short">
        <h3> Den mother </h3>
        <p> In some night stalker nests, such as Morning Star Cavern, the pack will be led by a den mother, a slightly larger night stalker who looks after the young, and has a much stronger attack than standard night stalkers. If her young are harmed, she may go into a frenzy similar to that of the deathclaw mother. </p>
        
    </div>
</div>

{% endblock %}