{% extends "base.html" %}
{% block title %} About Me And My Journal {% endblock %}

{% block content %}
<h1> About me and my journal. </h1>
<hr>
<div class="container">
    <div class="text-block">
        <p> My name is <span class="redacted"> Mark</span> <span class="redacted"> Schultz</span>. I am often called "The Chronicler". </p>
        <p> I started writing this journal in the year 2163. I began writing it because I was so very fascinated by how humans and other creatures have adapted to the radioactive wasteland that is the world. </p>
        <p> As you might have been able to pice together if you've read some of my entries, I am far above the age of really any human, and this is because I am a ghoul. </p>
        <p> The current year as of when I'm writing this is 2287. So I am 148 years as of when I'm writing this. </p>
        <p> This journal is a guide of sorts I've made, I am... or was (depending on if I'm still in ownership of this pip-boy) hoping to make this a replicable holotape, so it can be widely distributed. </p>
        <br>
        <p> If you have found this on my corpse, please be careful with it, it is very precious to me. If it wasn't on a corpse, still be careful with it, but there should be a tracking signal that should be broadcasting on an unused radio frequency, the frequency is 85.3. Please use it to find me and return my journal to me. </p>
        <br>
        <p> Yours truly, <span class="redacted"> Schultz</span> </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/mark.png') }}" alt="Me" class="gh">
        <sub> (this is one of the few images i managed to actually show colours beside green and black.) </sub>
    </div>
</div>

{% endblock %}