<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="images" href="{{ url_for('static', filename='images') }}">
    <link rel="fonts" href="{{ url_for('static', filename='fonts') }}">
    <link rel="script" href="{{ url_for('static', filename='js/main.js') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <hr>
    <h2 class="ro"> ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h2>
    <h2 class="ro"> COPYRIGHT 2075-2077 ROBCO INDUSTRIES</h2>
    <h2 class="ro"> -Vault 186- </h2>
    <h1 class="rr"> <s>TERMINAL</s> JOURNAL ONLINE </h1>
    <br>
    <br>
    <a href="/" class="sel"> > Back to Homepage</a>
    {% block content %} {% endblock %}
    <hr>
</body>
</html>