{% extends "base.html" %}
{% block title %} Creatures of the wasteland {% endblock %}

{% block content %}
<h1 tabindex="0">Creatures of the wasteland</h1>
<h2 class="fac_h2" tabindex="0"> Here you can view my findings about most creatures found in the wasteland. </h2>
<div class="fac_div">
    <li> <a href="{{ url_for('creatures_aquatic') }}" class="sel" tabindex="0"> > Aquatic Creatures</a> </li>
    <li> <a href="{{ url_for('creatures_arthropods') }}" class="sel" tabindex="0"> > Arthropods</a> </li>
    <li> <a href="{{ url_for('creatures_canines') }}" class="sel" tabindex="0"> > Canines</a> </li>
    <li> <a href="{{ url_for('creatures_deathclaw') }}" class="sel" tabindex="0"> > Deathclaw</a> </li>
    <li> <a href="{{ url_for('creatures_gecko') }}" class="sel" tabindex="0"> > Geckos</a> </li>
    <li> <a href="{{ url_for('creatures_ghouls') }}" class="sel" tabindex="0"> > Ghouls</a> </li>
    <li class="gl"> <a href="{{ url_for('creatures_glowing_one') }}" class="sel" tabindex="0"> > Glowing Ones </a> </li> 
    <li> <a href="{{ url_for('creatures_hoofed_mammals') }}" class="sel" tabindex="0"> > Hoofed Mammals</a> </li>
    <li> <a href="{{ url_for('creatures_mutants') }}" class="sel" tabindex="0"> > Mutants</a> </li>
    <li> <a href="{{ url_for('nonferal') }}" class="sel" tabindex="0"> > Non-Feral Ghouls</a> </li>
    <li> <a href="{{ url_for('creatures_vermin') }}" class="sel" tabindex="0"> > Vermin</a> </li>
    <li> <a href="{{ url_for('creatures_yao_guai') }}" class="sel" tabindex="0"> > Yao Guai</a> </li>
</div>
{%endblock %}