{% extends "base.html" %}
{% block title %} Creatures of the wasteland {% endblock %}

{% block content %}
<h1>Creatures of the wasteland</h1>
<h2 class="fac_h2"> Here you can view my findings about most creatures found in the wasteland. </h2>
<div class="fac_div">
    <li> <a href="{{ url_for('creatures_aquatic') }}" class="sel"> > Aquatic Creatures</a> </li>
    <li> <a href="{{ url_for('creatures_arthropods') }}" class="sel"> > Arthropods</a> </li>
    <li> <a href="{{ url_for('creatures_canines') }}" class="sel"> > Canines</a> </li>
    <li> <a href="{{ url_for('creatures_deathclaw') }}" class="sel"> > Deathclaw</a> </li>
    <li> <a href="{{ url_for('creatures_gecko') }}" class="sel"> > Geckos</a> </li>
    <li> <a href="{{ url_for('creatures_ghouls') }}" class="sel"> > Ghouls</a> </li>
    <li class="gl"> <a href="{{ url_for('creatures_glowing_one') }}" class="sel"> > Glowing Ones </a> </li> 
    <li> <a href="{{ url_for('creatures_hoofed_mammals') }}" class="sel"> > Hoofed Mammals</a> </li>
    <li> <a href="{{ url_for('creatures_mutants') }}" class="sel"> > Mutants</a> </li>
    <li> <a href="{{ url_for('nonferal') }}" class="sel"> > Non-Feral Ghouls</a> </li>
    <li> <a href="{{ url_for('creatures_radscorpion') }}" class="sel"> > Radscorpion</a> </li>
    <li> <a href="{{ url_for('creatures_vermin') }}" class="sel"> > Vermin</a> </li>
    <li> <a href="{{ url_for('creatures_yao_guai') }}" class="sel"> > Yao Guai</a> </li>
</div>
{%endblock %}