{% extends "base.html" %}
{% block title %}Factions{% endblock %}
{% block content %}
<h1 class="fac_h1">Factions Overview</h1>

<h2 class="fac_h2">Here you can view my findings about the most common factions found in the wasteland. Each faction has its own unique characteristics and history. </h2>
<div class="fac_div">
    <li> <a href="{{ url_for('atomites') }}" class="sel"> > Church of the Children of Atom</a> </li>
    <li> <a href="{{ url_for('bos') }}" class="sel"> > Brotherhood of Steel</a> </li>
    <li> <a href="{{ url_for('caravans') }}" class="sel"> > Caravans</a> </li>
    <li> <a href="{{ url_for('enclave') }}" class="sel"> > Enclave</a> </li>
    <li> <a href="{{ url_for('institute') }}" class="sel"> > Institute</a> </li>
    <li> <a href="{{ url_for('legion') }}" class="sel"> > Caesar's Legion</a> </li>
    <li> <a href="{{ url_for('mutants') }}" class="sel"> > Mutants</a> </li>
    <li> <a href="{{ url_for('ncr') }}" class="sel"> > New California Republic</a> </li>
    <li> <a href="{{ url_for('raiders') }}" class="sel"> > Raiders</a> </li>
    <li> <a href="{{ url_for('vault_dwellers') }}" class="sel"> > Vault Dwellers</a> </li>
</div>
{%endblock %}