{% extends "base.html" %}
{% block title %}Factions{% endblock %}
{% block content %}
<h1 class="fac_h1" tabindex="0"> Factions Overview </h1>

<h2 class="fac_h2" tabindex="0"> Here you can view my findings about the most common factions found in the wasteland. Each faction has its own unique characteristics and history. </h2>
<div class="fac_div">
    <li> <a href="{{ url_for('bos') }}" class="sel" tabindex="0"> > Brotherhood of Steel</a> </li>
    <li> <a href="{{ url_for('legion') }}" class="sel" tabindex="0"> > Caesar's Legion</a> </li>
    <li> <a href="{{ url_for('caravans') }}" class="sel" tabindex="0"> > Caravans</a> </li>
    <li> <a href="{{ url_for('atomites') }}" class="sel" tabindex="0"> > Church of the Children of Atom</a> </li>
    <li> <a href="{{ url_for('minutemen') }}" class="sel" tabindex="0"> > Commonwealth Minutemen</a> </li>
    <li> <a href="{{ url_for('enclave') }}" class="sel" tabindex="0"> > Enclave</a> </li>
    <li> <a href="{{ url_for('institute') }}" class="sel" tabindex="0"> > Institute</a> </li>
    <li> <a href="{{ url_for('mutants') }}" class="sel" tabindex="0"> > Mutants</a> </li>
    <li> <a href="{{ url_for('ncr') }}" class="sel" tabindex="0"> > New California Republic</a> </li>
    <li> <a href="{{ url_for('raiders') }}" class="sel" tabindex="0"> > Raiders</a> </li>
    <li> <a href="{{ url_for('vault_dwellers') }}" class="sel" tabindex="0"> > Vault Dwellers</a> </li>
</div>
{%endblock %}