{% extends "base.html" %}
{% block title %}Factions{% endblock %}
{% block content %}
<h1 class="fac_h1">Factions Overview</h1>

<h2 class="fac_h2">Here you can find information about the most common factions found in the wasteland. Each faction has its own unique characteristics and history.</h2>
<div class="fac_div">
    <li> <a href="/factions/atomites" class="sel"> > Atomites</a> </li>
    <li> <a href="/factions/bos" class="sel"> > Brotherhood of Steel</a> </li>
    <li> <a href="/factions/caravans" class="sel"> > Caravans</a> </li>
    <li> <a href="/factions/enclave" class="sel"> > Enclave</a> </li>
    <li> <a href="/factions/mutants" class="sel"> > Mutants</a> </li>
    <li> <a href="/factions/raiders" class="sel"> > Raiders</a> </li>
    <li> <a href="/factions/vault_dwellers" class="sel"> > Vault Dwellers</a> </li>
</div>
{%endblock %}