{% extends "base.html" %}
{% block title %}welcome{% endblock %}
{% block content %}
<h1> aaaaaaa </h1>
<div class="container">
        <div class="text-block">
                <p class="j" tabindex="0"> This is the exploration/research journal by <span class="redacted"> Mark</span> "The Chronicler" <span class="redacted"> Schultz</span>. </p>
                <p class="j" tabindex="0"> I started writing this journal  in the year 2163. </p>
                <p class="j" tabindex="0"> If you are seeing this, this means that I am either dead, or that I have somehow lost my pip-boy, and that you have found it. </p>
                <p class="j" tabindex="0"> As for <i> why <i> I wrote this, I did it just in case I <i> do </i> die or lose my pip-boy. </p>
                <p class="j" tabindex="0"> Either way, welcome, and please take care of my pip-boy and my journal, they are very precious to me. </p>
                <p class="j" tabindex="0"> Yours truly, <span class="redacted"> Schultz</span> </p>
        </div>
</div>
<nav>
        <li> <a href="{{ url_for('aboutme') }}" class="sel"> > About Me And My Journal</a></li>
        <li> <a href="{{ url_for('journal_entries') }}" class="sel"> > Journal Entries</a></li>
        <li> <a href="{{ url_for('stats') }}" class="sel"> > Stats and S.P.E.C.I.A.L</a> </li>
        <li> <a href="{{ url_for('register') }}" class="sel"> > Register</a></li>
        <li> <a href="{{ url_for('register_actual') }}" class="sel"> > Register S.P.E.C.I.A.L. and User info</a></li>
        <li> <a href="{{ url_for('login') }}" class="sel"> > Login</a></li>
        <li> <a href="{{ url_for('factions') }}" class="sel"> > Factions</a></li>
        <li> <a href="{{ url_for('creatures') }}" class="sel"> > Creatures</a></li>
</nav>
<div class="container">
        <div class="text-block" tabindex="0">
                <p>* few things i forgot to mention, just some info about the... formatting? and also about the pip-boy itself </p>
                <p> when i use "*" it is an author's note, it is a subjective thought, i try to write the guide part of this journal, i try to write it as objective as possible. </p>
                <p> uuuuh </p>
                <p> YES! when i use 
                        <div>"<hr class="short">"</div>
                <p> it is used to divide sections under the same heading. </p>
                <p> and as for the pip-boy itself, as you may have noticed, it is bigger than a normal pip-boy. this is because i used a vault terminal to add more memory, and more functionality to it. It works like a holotape, but it isn't actually ejectable. though you probably could copy the contents over to a holotape. </p>
        </div>
</div>  
{% endblock %}