{% extends "base.html" %}
{% block title %} Journal Entries {% endblock %}

{% block content %}
<h1> Journal Entries </h1>
<li> <a href="{{ url_for('journal_appalachia') }}" class="sel"> > Appalachia Journal Entries </a>
    <li> <a href="{{ url_for('journal_capital') }}" class="sel"> > Capital Wasteland Journal Entries </a> </li>
    <li> <a href="{{ url_for('journal_commonwealth') }}" class="sel"> > Commonwealth Journal Entries </a> </li>
    <li> <a href="{{ url_for('journal_west_coast') }}" class="sel"> > West Coast Journal Entries </a> </li>
{% endblock %}