{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="h">Register Inhabitant Data</h1>
<a href="/" class="sel"> >Back to Homepage</a>
<form method="POST">
    {{ form.hidden_tag() }} 
    <br class="break">
    <div class="sel"> > {{ form.name.label }} {{ form.name }}</div><br>
    <div class="sel"> > {{ form.gender.label }} {{ form.gender }}</div><br>
    <div class="sel"> > {{ form.age.label }} {{ form.age }}</div><br>
    <div class="sel"> > {{ form.blood_type.label }} {{ form.blood_type }}</div><br>
    <div class="sel"> > {{ form.known_diseases.label }} {{ form.known_diseases }}</div><br>
    <div class="sel"> > {{ form.family.label }} {{ form.family }}</div><br>
    <div class="sel"> > {{ form.current_medical_conditions.label }} {{ form.current_medical_conditions }}</div><br>
    <div class="sel"> > {{ form.previous_medical_conditions.label }} {{ form.previous_medical_conditions }}</div><br>
    <div class="sel"> > {{ form.allergies.label }} {{ form.allergies }}</div><br>
    <div class="sel"> > {{ form.strengths.label }} {{ form.strengths }}</div><br>
        <div class="sel1"> {{ form.submit }} </div>
</form>
{% endblock %}