{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="h"> <s> Register Inhabitant Data</s> Can't remove. </h1>
<p> sorry about this, but this is something still remaining frim the vault terminal I used to repair and modify this pip-boy. No matter how much I try, I can't remove it. This has no real function, just ignore it. </p>

<form method="POST">
    {{ form.hidden_tag() }} 
    <br class="break">
    <div class="sel_reg"> > {{ form.name.label }} {{ form.name }}</div><br>
    <div class="sel_reg"> > {{ form.gender.label }} {{ form.gender }}</div><br>
    <div class="sel_reg"> > {{ form.age.label }} {{ form.age }}</div><br>
    <div class="sel_reg"> > {{ form.blood_type.label }} {{ form.blood_type }}</div><br>
    <div class="sel_reg"> > {{ form.known_diseases.label }} {{ form.known_diseases }}</div><br>
    <div class="sel_reg"> > {{ form.family.label }} {{ form.family }}</div><br>
    <div class="sel_reg"> > {{ form.current_medical_conditions.label }} {{ form.current_medical_conditions }}</div><br>
    <div class="sel_reg"> > {{ form.previous_medical_conditions.label }} {{ form.previous_medical_conditions }}</div><br>
    <div class="sel_reg"> > {{ form.allergies.label }} {{ form.allergies }}</div><br>
    <div class="sel_reg"> > {{ form.strengths.label }} {{ form.strengths }}</div><br>
        <div class="sel_sub"> {{ form.submit }} </div>
</form>
{% endblock %}