{% extends "base.html" %}
{% block title %} Stats and S.P.E.C.I.A.L. {% endblock %}

{% block content %}
<h1 tabindex="0"> Stats and S.P.E.C.I.A.L. </h1>
<p> Hello {{ name }} </p>
<nav>
  <li> a </li>
</nav>
<div class="container7"> <!-- container7 is used for now only for the health bar, but might be used for Javascript in the future -->
  <div class="health-bar" id="health-bar"></div>
</div>
<p>Health: <span id="health-text">100/100</span></p>
<button onclick="changeHealth(-10)">Decrease Health</button>
<button onclick="changeHealth(10)">Increase Health</button>

<script src="/src/main.js"></script>
{% endblock %}