{% extends "base.html" %}
{% block title %} Bloatflies - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_arthropods') }}" class="sel"> > Back to Arthropods</a>

<h1>Bloatflies</h1>
<div class="container">
    <div class="text-block">
        <p> Ah, bloatflies. These flying, disguisting maggot shooting flies were the bane of my existance when I was younger. I will take any opportunity to stomp and kill these things. </p>
        <hr>
        <p> A bloatfly is a mutated pest resembling an oversized biting horse or common housefly, often found in Appalachia, the Capital Wasteland, the Commonwealth and the Mojave Wasteland. </p>
        <h2> Background </h2>
        <p> An example of the mutations caused by the Great War, the bloatfly is an evolution of either the Musca domestica (common housefly) or Tabanus genera of biting horse fly. Tentatively classified as part of the Tabanidae family in the order Diptera, class Insecta, phylum Arthropoda and kingdom Animalia by the Enclave, it is a major divergence from its evolutionary forebears. </p>
        <h2> Biology </h2>
        <p> The standard bloatfly has a green and brown carapace and is significantly larger and more tenacious than its predecessors. Its size inhibits previous flight characteristics and agility, making it impossible to feed like pre-War horse flies did. Instead, it uses its engorged stinger and pupae gestating within its abdomen to incapacitate prey. The stinger is capable of launching mature larvae with a barbed sting at the end. These latch onto the target and deliver a neurotoxin capable of incapacitating larger prey, allowing the bloatfly and its larvae to feed. </p>
        
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/bloatfly.png') }}" alt="Bloatfly" class="art">
    </div>
</div>
<div class="container">
    <div class="text-block">
        <p> Its neurotoxin is ineffective against humans and larger targets, causing only localized necrosis. As a result, the bloatfly serves as prey rather than predator among wastelanders who utilize its meat for food. Bloatflies can resort to scavenging in situations where prey or other sources of sustenance are scarce. It adapted to its enlarged size with a unique gland that enables it to balance and maintain speed despite its size. The gland itself may be toxic to consume. </p>
        <hr>
        <h2> Attributes/Behaviour </h2>
        <p> Bloatflies are a common sight in the wastes, varying in size and exhibiting territorial instincts alongside an absence of self-preservation. They can be found in swarms of two to four and will attack targets relentlessly. Bloatflies may explode upon death </p>
        <p> Bloatflies attack at long range by peppering their prey with spine-bedecked larva launched from its abdomen. They tend to attack in groups, and may pose an additional threat based on their ability to attack from a distance. </p>
        <br>
        <p> What a bloatfly stinger/dart looks like </p>
    </div>
</div>
<div class="container">
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/larva.png') }}" alt="Bloatfly larva" class="art2">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
            <h2> Audio Files </h2>
            <p> Below you will find various noises the bloatflies makes. </p>
    </div>
</div>
<hr>
<div class="container3"> <!-- container3 is used for audio files -->
    <div class="audio-block">
        <p> Bloatfly Attacking With Dart: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/blowfly_attackdart.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Bloatfly Attack noise 2: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/blowfly_fire_3d_loop.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Bloatfly Death: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/blowfly_death.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div class="audio-block2">
        <p> Injured Bloatfly: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/blowfly_injured.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Bloatfly Movement Sound: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/blowfly_mvmt_lpm.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Bloatfly Idle: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/blowfly_idle_lp.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}