{% extends "base.html" %}
{% block title %} Radroach - Creatures {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_arthropods') }}" class="sel"> > Back to Arthropods</a>
<h1> Radroach </h1>
<div class="container">
    <div class="text-block">
        <p> * Annoying, thats it, they're annoying, but weak. * </p>
        <p> Great American cockroaches, colloquially called radroaches or giant cockroaches, are giant versions of the pre-War species that have been mutated by atomic radiation. </p>
        <hr>
        <h2> Research Findings </h2>
        <p> These mutated Great American cockroaches, colloquially called "radroaches" or simply "giant cockroaches," are enlarged versions of the pre-War species that have increased in size, due to atomic fallout. </p>
        <h2> Characteristics </h2>
        <hr>
        <p> Commonly joked before the Great War as the only candidates for surviving a nuclear blast, cockroaches not only survived, but adapted. They became enlarged, with a bigger thorax to ward off attack, extended antennae to hunt in packs, and reinforced incisors to take down and ingest larger prey, up to and including humans. Radroaches are found mainly in underground areas and sewers across North America, which can cause them to be a pest in certain Vaults because they can usually be found in fairly large groups. They feed on the dead, but will go after living creatures if isolated. Their numbers are their biggest advantage. </p>
        <p> These radroaches are commonly seen in the dark, damp or irradiated parts of the wasteland and look similar to normal cockroaches, save for the fact that they have mutated to be the size of a domestic cat. They are generally little more than a nuisance to Armageddon survivors and less than likely to pose a challenge. Radroaches are territorial and rather aggressive, but not very harmful. Anyone can kill them with their bare hands, and will only attack when they feel threatened by passersby. Although they are winged, radroaches are not capable of flight. Still, it is possible that the wings are used for interspecies communication. Radroach innards are useful in the treatment of radiation poisoning and are widely used by tribals for this purpose. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/radroach.png') }}" alt="Radroach" class="art">
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Variants </h2>
        <hr>
        <h3> Radroach </h3>
        <p> These radroaches are commonly found in the wasteland and look similar to real-life cockroaches. Radroaches were enlarged extensively by mutation, to the point that they are now as large as house cats. </p>
        <p> They are generally little more than a nuisance to Wasteland survivors and are less than likely to pose a challenge. Radroaches are territorial and rather aggressive, but not very harmful. Anyone can kill them with their bare hands, and will only attack if you are very close </p>
        <hr>
        <h3> Irradiated radroach </h3>
        <p> The irradiated radroach is identical to the standard radroach, with the exception of a radioactive aura, similar to that of a feral ghoul reaver. In addition to this, they hold the ability to heal themselves with a radiation blast similar to a glowing one. On death, it drops irradiated radroach meat, which gives extra radiation when consumed. </p>
        <hr>
        <h3> Giant cockroach </h3>
        <p> In the Midwest, mutant cockroaches are a common sight in the Wasteland. As in the Capital Wasteland, they can be encountered nearly everywhere, from old buildings to plains. However, they are drastically different and more dangerous than those met in the Capital Wasteland. They have a big, protected main body and small legs, and their saliva is incredibly toxic. They are very aggressive and attack every human unlucky enough to encounter them. </p>
        <p> The Midwestern giant cockroaches are more varied than their Capital Wasteland cousins. Their size can also vary - they can be as small as their relatives in the Capital Wasteland or as big as an adult human. </p>
    </div>
</div>
<hr>
<div class="container">
    <div class="text-block">
        <h2> Audio Files </h2>
        <p> Below you will find various noises radroaches make. </p>
    </div>
</div>
<hr>
<div class="container3">
    <div class="audio-block">
        <p> Radroach Attack: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/roach_attack_01.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
        <p> Radroach Flight: </p>
        <audio controls>
            <source src="{{ url_for('static', filename='audio/roach_wings_01.ogg') }}" type="audio/ogg" class="cr_audio">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}