{% extends "base.html" %}
{% block title %} Mongrel - Canines {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_canines') }}" class="sel"> > Back to Canines</a>
<hr>
<h1> Mongrels </h1>
<div class="container">
    <div class="text-block">
        <p> These are the cancerous cousins of the common dog, and they look the part too. </p>
        <p> Mongrels are terribly irradiated, mutated forms of dogs. They are red and ghoulish and usually hunt in packs randomly found throughout the Commonwealth and Appalachia. There are many variants of mongrels, the worst of which are the alpha variants. </p>
        <hr>
        <h2> Characteristics </h2>
        <p> Mongrels are aggressive and encountered frequently. Some have been domesticated once again by raiders and some friendly settlers. Mongrels will chase and circle around their prey as they attack </p>
        <hr>
        <h2> Variants </h2>
        <hr>
        <h3> Wild mongrel </h3>
        <p> These are typical specimens that are commonly encountered in the Commonwealth. They are mainly seen traveling in packs of up to four, which may include a stronger variant. </p>
        <hr>
        <h3> Alpha wild mongrel </h3>
        <p> Stronger in every way than their counterparts, they are usually found with three or four other mongrels. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/mongrel.png') }}" alt="Mongrel" class="can2">
    </div>
</div>
<div class="container2">
    <div class="text-block">
        <hr>
        <h3> Vicious mongrel </h3>
        <p> Similar in strength to the alpha mongrels, vicious mongrels are typically found in packs of 3 to 4, which may include a stronger variant. </p>
        <hr>
        <h3> Alpha vicious mongrel </h3>
        <p> A stronger type of vicious mongrel that is seen usually traveling with a few weaker variants. </p>
        <hr>
        <h3> Feral mongrel </h3>
        <p> A stronger variant of vicious mongrels with higher HP and Damage Resistance. </p>
        <hr>
        <h3> Alpha feral mongrel </h3>
        <p> A stronger version of their feral counterparts, with higher stats across the board. Their attacks are also stronger than their normal counterparts. </p>
        <hr>
        <h3> Albino mongrel </h3>
        <p> Mongrels that have albinism due to the high levels of radiation. Their stats are identical to alpha feral mongrels. </p>
        <hr>
        <h3> Alpha albino mongrel </h3>
        <p> A more powerful version of albino mongrels, with higher health, higher resistances and higher damage. </p>
        <hr>
        <h3> Rabid mongrel </h3>
        <p> Rabid mongrels are a step up from albino mongrels with the same stats as alpha albino mongrels with added poison damage. </p>
        <hr>
        <h3> Alpha rabid mongrel </h3>
        <p> Alpha rabid mongrels are stronger than rabid mongrels in every way except in poison damage </p>
        <hr>
        <h3> Glowing mongrel </h3>
        <p> Glowing mongrels are the toughest type of mongrel with lower health than alpha rabid mongrels but higher damage and with an added radiation field. </p>
        <hr>
        <h3> Alpha glowing mongrel </h3>
        <p> Stronger variant of the glowing mongrel, usually the head of a pack of mongrels. </p>
    </div>  
</div>
{% endblock %}