{% extends "base.html" %}
{% block title %} Wolf - Canines {% endblock %}

{% block content %}
<a href="{{ url_for('creatures') }}" class="sel"> > Back to Creatures</a>
<a href="{{ url_for('creatures_canines') }}" class="sel"> > Back to Canines</a>
<hr>
<h1> Wolves </h1>
<div class="container">
    <div class="text-block">
        <p> Wolves are canines that prowl the wasteland. they are most common in the Appalachians. </p>
        <hr>
        <h2> Background </h2>
        <p> Wolves such as those inhabiting the wilds of Mount Desert Island have been mutated by environmental factors such as the radioactive Fog. <sub> ( like in Far Harbor ) </sub> They are known to travel in packs and howl. </p>
        <hr>
        <h2> Characteristics </h2>
        <hr>
        <h3> Biology </h3>
        <p> Unlike most other creatures in the wasteland, wolves do not have any visible mutations. The radiation in the environment has not affected their appearance, as they maintain consistent coats of fur. Despite the lack of external mutations, wolves still possess pointed teeth and sharp claws that are utilized to attack enemies. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/wolf.png') }}" alt="Wolf" class="can">
    </div>
</div>
<hr class="short">
<div class="container2">
    <div class="text-block">
        <h3> Attributes/Behaviour </h3>
        <p> Wolves usually travel in packs and charge hastily at enemies to attack. They can prove to be tough opponents when together, easily being able to overpower lone creatures and wastelanders in close quarters. </p>
        <hr>
        <h2> Variants </h2>
        <hr>
        <h3> Wolf </h3>
        <p> Wolves are dangerous creatures and always travel in large packs of their kin. They easily outmaneuver their enemies and surround them, and lunge at their prey with sharp claws and powerful jaws. </p>
        <hr class="short">
        <h3> Wolf (Far Harbor) </h3>
        <p> Wolves in the wilds beyond Far Harbor have been mutated by the radioactive Fog and roam in ferocious, bloodthirsty packs. Fast, agile, and highly perceptive, wolves will often notice their prey before they notice them. </p>
        <hr class="short">
    </div>
</div>
<hr>
<div class="container4">
    <div class="text-block">
        <h3> Vicious wolf </h3>
        <p> The most common type of wolf found all over the Forest region of the Appalachians. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/vicious_wolf.png') }}" alt="Wolf" class="can">
    </div>
</div>
<hr>
<div class="container4">
    <div class="text-block">
        <h3> Feral wolf </h3>
        <p> A stronger variant that can sometimes be the pack leader for a group of vicious wolves. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/feral_wolf.png') }}" alt="Wolf" class="can">
    </div>
</div>
<hr>
<div class="container4">
    <div class="text-block">
        <h3> Grey wolf </h3>
        <p> A much stronger variant that is usually found in the Savage Divide. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/grey_wolf.png') }}" alt="Wolf" class="can">
    </div>
</div>
<hr>
<div class="container4">
    <div class="text-block">
        <h3> Rabid wolf </h3>
        <p> Strongest variant apart from glowing wolves. Usually found in the Savage Divide at the earliest opportunity and later in the Mire and Cranberry Bog. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/rabid_wolf.png') }}" alt="Wolf" class="can">
    </div>
</div>
<hr>
<div class="container4">
    <div class="text-block">
        <h3> Glowing wolf </h3>
        <p> Glowing wolves represent an upper-tier subtype of their species and deal additional radiation damage on hit. Like all glowing creature variants, they boast significantly higher resistances and damage output than their weaker cousins. Their threat level should therefore not be underestimated. </p>
    </div>
    <div class="image-block">
        <img src="{{ url_for('static', filename='images/glowing_wolf.png') }}" alt="Wolf" class="can">
    </div>
</div>
{% endblock %}